[2013-11-19 20:58] philippeowagner opened #4 "Integration of visual notifications"
- Default notification CSS here: https://gist.github.com/philippeowagner/7552397
- Templatetags, based on comments in #3 (https://github.com/arteria/django-hijack/commit/2eb1f54fe6b71b24f4536b182be41e728e9f781e#comments)

[2014-01-22 12:53] mihaicc opened #5 "Internal error when missusing the login_with_id endpoint"
### Need:

[code]
### Solution:

Validate GET params before using them.
Apply solution to all endpoints.

[code]
### Bug reenactment:

Accessing the user id endpoint with a string raises a ValueError with invalid literal for int() with base 10

@owner please confirm/change this spec as you see fit.

[2014-01-22 13:07] #5 closed, assigned to nobody

[2014-07-26 06:29] yuriiz opened #7 "Support Django>=1.5 custom user models"
Support user models created through
https://docs.djangoproject.com/en/1.5/topics/auth/customizing/#substituting-a-custom-user-model

[2014-11-18 21:04] philippeowagner opened #13 "Build on django-compat to provide Django 1.4.x .. 1.7x support."
When merging PR #12 django-hijack should build on [django-compat](https://github.com/arteria/django-compat) to provide Django LTS (1.4.x) to current (1.7.x) support.

[2014-11-21 12:05] philippeowagner opened #14 "Switch back to (my) admin user after giving support."

[2014-11-27 14:51] philippeowagner opened #16 "Use reverse() in admin.py to build the hijack button."
This only works if the urls are included under /hijack/.

[2014-11-27 14:52] philippeowagner opened #17 "'x' button does not remove control data from session."

[2014-11-27 15:12] #14 closed, assigned to nobody

[2014-11-28 09:41] #16 closed, assigned to yannik-ammann

[2014-11-28 14:55] #17 closed, assigned to yannik-ammann

[2014-12-01 13:23] #7 closed, assigned to nobody

[2014-12-01 13:23] #13 closed, assigned to nobody

[2014-12-03 19:45] johnfraney opened #22 "CSS styling/HTML flow (with Bootstrap navbar)"
Hello! I'm really enjoying this plugin so far. One issue I've noticed is the positioning of the notification when paired with a Bootstrap navbar:

![hijack-bootstrap-navbar](https://cloud.githubusercontent.com/assets/1728528/5287249/9628e214-7af8-11e4-8f6f-9554bddc3957.png)

The notification almost completely overlaps the navbar. There are a couple of ways around this:

1. Add a container around `

[2014-12-04 08:55] philippeowagner opened #23 "Use model's string representation as default."
This refactoring extends PR #21. This will be the new default afterwards.

[2014-12-04 10:20] #23 closed, assigned to walterrenner

[2014-12-04 22:16] philippeowagner opened #25 "Python 3 support"
* Check source and adapt if required
* Update setup.py when Python 3 is supported

[2014-12-04 22:17] philippeowagner opened #26 "Reorganise the README"
* Add table of contents
* Add screenshot
* Add section with all configuration parameters
* Supported versions and build notice

[2014-12-12 13:13] philippeowagner opened #27 "Inform hijacked user by email"
Optional: Send an email to the user when hijacked.

[2015-02-05 09:24] philippeowagner commented on #22
I am closing this issue by assuming the solution mentioned works for you @johnfraney .

[2015-02-05 09:24] #22 closed

[2015-02-05 16:27] frankwiles commented on #25
FYI I just deployed django-hijack on Python 3.3.2 and 3.4.0 with Django 1.6.10 and while I couldn't get the admin bits to work (I suspect something about our customized User model and/or admin but wasn't necessary for our purposes) it worked just fine with:

    SHOW_HIJACKUSER_IN_ADMIN = False

[2015-02-05 21:29] philippeowagner commented on #25
Thank you very much @frankwiles  for your appreciated feedback!

[2015-02-06 08:05] philippeowagner opened #30 "Django 1.8.x compatibility"
* Modify README
* Modify setup.py
* ...

[2015-02-09 11:59] philippeowagner opened #31 "Add Travis CI tests"

[2015-02-12 15:56] #31 closed

[2015-02-12 15:56] #25 closed

[2015-02-16 15:56] #30 closed

[2015-02-16 17:46] akoumjian opened #34 "Require multi-sig to authorize hijacking"
This looks like a great package. I was considering building something similar for our system to help with support.

I'd like to request a feature: Requiring a second user's credentials to initiate hijacking. The scenario is this: I don't want to hand out superuser status willy-nilly. Use the staff option to allow staff to hijack user accounts for support. However, they need an office-mate to autho

[2015-02-17 00:59] destos opened #35 "Named urls for hijack endpoints"
Was there a reason these URLs are unamed?

https://github.com/arteria/django-hijack/blob/master/hijack/urls.py#L6-L8

If not I could whip up a PR with those changes.

[2015-02-17 08:17] philippeowagner commented on #35
Hi @destos
No, there is no special reason. A PR would be great. Thanks in advance.

[2015-02-17 08:25] walterrenner opened #36 "Admin role assumption when ALLOW_STAFF_TO_HIJACKUSER is True"
When you set the `ALLOW_STAFF_TO_HIJACKUSER` setting,  any staff member can hijack admins.

[2015-02-17 08:51] philippeowagner commented on #34
@akoumjian I really like the "Two-man rule" idea. This legit use case would really add value to django-hijack!

The question is how this should be conceptually done. Currently hijack is pretty agnostic and needs a minimum to be able to work.

Maybe a interface that can be used generically for this "Two-man rule" use case is needed to implement various variants depending on different needs.

[2015-02-18 17:16] Remiz opened #38 "Error on custom model when Hijacking by user ID"
Hello, I really like the idea of this plugin and I'm glad to see it's active.

I started to try integrating it to my project but I noticed an error during the Hijack by User ID (with a custom User) on Django 1.7.4.

I got the error ValueError at /hijack/230/
Object is of type 'str', but must be a Django Model, Manager, or QuerySet

So I went in the code and I saw that the faulty part is there:

[c

[2015-02-18 18:04] mathiasose commented on #25
https://www.djangopackages.com/packages/p/django-hijack/ still says Python 3 isn't supported as of 1.0.4. Is it supposed to discover this automatically?

[2015-02-18 21:44] philippeowagner commented on #25
Hi @mathiasose

The classifiers were added after building the release.

https://github.com/arteria/django-hijack/commit/78c3c28408e8d8c518b9fbcacc4a351672a6e471#diff-2eeaed663bd0d25b7e608891384b7298R74

It will be shown correctly with version 1.0.5.

[2015-02-19 13:18] #38 closed

[2015-02-19 13:19] philippeowagner commented on #38
Updating django-compat to 1.0.1 (not 1.0.)

[2015-02-19 13:28] philippeowagner commented on #38
A new version of django-hijack was pushed to the PyPI or can be found under [releases](https://github.com/arteria/django-hijack/releases).

[2015-02-19 13:41] #35 closed

[2015-02-19 14:24] #26 closed

[2015-02-19 16:22] Remiz commented on #38
Nice, thank! I'll try it right away.

[2015-02-19 18:16] Remiz opened #39 "hijack_tags (hijackNotification) generate errors during tests that involve a raiseError"
First, good job at fixing the previous issue, it's really nice to see that much reactivity.

I'm reporting another issue I noticed with the hijackNotification in template. This error only happen to me when I'm running my tests (if I recreate the condition locally for real it doesn't happen).

It seems that any test I write that include an assertRaises() will fail once the exception is raised becau

[2015-02-20 10:24] yannik-ammann commented on #39
Your tests fail because you get an `AttributeError` instead of an `ValueError`. The AttributeError occurs because request is a string instead of a request object. To use hijack notifications you need to add `django.core.context_processors.request` to your TEMPLATE_CONTEXT_PROCESSORS in your test settings ([documentation](https://github.com/arteria/django-hijack#notify-superusers-when-working-behal

[2015-02-20 10:42] yannik-ammann commented on #39
I have no idea why this error should occur when you don't render templates, but adding the context processor should fix your problem.

[2015-02-20 15:01] akoumjian commented on #34
I'm going to look into how this might work today and will hopefully have pull request as a suggested implementation.

[2015-02-20 15:48] Remiz commented on #39
Unfortunately I already have "django.core.context_processors.request", in my TEMPLATE_CONTEXT_PROCESSOR. I'll try to see what can differentiate on my request when it's called by the test client and why it only occurs when a raise ValueError is triggered.

[2015-02-20 17:27] Remiz commented on #39
I built a small app from scratch to try to reproduce the error but unsuccessfully for now. Maybe it's related to some of my custom middlewares or something like that. I'll keep you posted.

[2015-02-20 22:04] Remiz commented on #39
I created a new custom filter in my application and I called it from my base template file and I achieve the exact same error. request doesn't exists when an exception is raised within the tests...

[code]

and I called in my template the same way {{request|my_custom_filter}}. Same thing, no error in real condition, but the test fail to load the context... My guess it's something really specific i

[2015-02-20 22:53] Remiz commented on #39
Ok, I managed to fix my issue, I'm posting a follow up in case someone has the same problem as me.

The issue is really specific and requires multiple things to appear:
- If you have {{request|hijackNotification}} in your base template
- If you have a custom 500 error page that inherit the base template (500.html)
- If one of your test call a view that raise an exception (expected)

What happens i

[2015-02-20 23:13] philippeowagner commented on #39
Thank you very much @Remiz for all the details and reproducing the error. I will extend the conditions as you suggested.

[2015-02-20 23:14] #39 closed

[2015-03-06 14:22] frwickst commented on #36
I created something like this, do you think we need more checks still ?
frwickst/django-hijack@1f914fc944172f1b025e0adf89a571dfc56f4133

[2015-03-06 14:33] philippeowagner commented on #36
Hi @frwickst

First of all, thanks for your contribution. We are about to merge the last PR.

The word choice is somewhat misleading for this issue. The idea behind it is, that a staff member should not be able to hijack a superuser (and extends its own permissions in the admin site though the hijacked superuser).

[2015-03-06 14:38] frwickst commented on #36
That should be what the commit above does. It allows staff users to hijack all other users but those with superuser status. I was mainly wondering if you think there is something more that should be checked?

[2015-03-06 14:44] philippeowagner commented on #36
You're absolutely right, of course, that is sufficiently like that.

[2015-03-10 08:15] walterrenner commented on #36
fixed since v1.0.6

[2015-03-10 08:15] #36 closed

[2015-03-10 17:52] Remiz opened #47 "HIJACK_NOTIFY_ADMIN default to False in urls.py"
I noticed that in the absence of HIJACK_NOTIFY_ADMIN in settings it defaults to False for the new conditional URL inclusion (disable_hijack_warning). According to the doc, in its absence it should default to True...

[code]

[2015-03-11 15:50] yannik-ammann commented on #47
Thanks a lot for the bug report.

[2015-03-11 15:50] #47 closed

[2015-03-17 20:59] Ecno92 opened #50 "Staff members can hijack each other"
Setting `ALLOW_STAFF_TO_HIJACKUSER` to `True` allows staff members to hijack all the users except the superusers.  I think it's also interesting to block hijacking other staff members since you otherwise would allow people to take over the account of other staff members. When people do this they could perform actions without taking the proper responsibility and the wrong people get the blame.

So

[2015-03-18 12:28] philippeowagner commented on #50
Hi @Ecno92
Thanks for your proposal. Blocking staff to staff hijacking is a valid use case as well. We would be happy to merge your pull request ASAP.

[2015-03-24 20:05] destos opened #51 "Readme and code inconsistencies around ALLOWED_HIJACKING_USER_ATTRIBUTES"
https://github.com/arteria/django-hijack/blob/master/hijack/admin.py#L11-L23
Uses `login_with_id` and `login_with_email`

https://github.com/arteria/django-hijack/blob/ee19202fa24bb694141ebbea7ecc19626de3b847/hijack/urls.py#L16-L38
uses `user_id`

The readme settings sections specifies these as allowed values.
ALLOWED_HIJACKING_USER_ATTRIBUTES = ('user_id', 'email', 'username')

I can submit a PR

[2015-03-24 21:02] #51 closed

[2015-03-28 12:19] Ecno92 commented on #50
I've just opened a pull request: #53

[2015-03-30 08:04] walterrenner commented on #50
closed in #53

[2015-03-30 08:04] #50 closed

[2015-03-30 08:09] walterrenner opened #54 "unify settings and their documentation"
We now have several settings attributes (some of them are named confusingly or have an unexpected default).

I'm currently working on a solution to unify the naming and a better documentation in the readme.

Please feel free to make your suggestions.

[2015-03-30 08:15] walterrenner commented on #54
available settings:

[code]

[2015-03-31 13:30] NotSqrt opened #55 "More control on who can hijack who"
Hi !

Nice package !

Features that would be nice:

* hooks to handle these cases:
   * hijacker has to be in a specific group or have a specific permission
   * hijacked user must respect some conditions (for instance : filter the user queryset)
* some internationalisation
* interpret ``LOGIN_REDIRECT_URL`` as a named url (cf ``django.shortcuts.resolve_url`` and its usage in the django login view

[2015-03-31 13:38] philippeowagner commented on #55
Hi @NotSqrt

Thanks for your inputs.

We are working on the "who can hijack who" thing in #54 and will rework the defaults and how to set them. The group permission could be an option as well.

Could you please split up your issue so it will be easier to priories them. Thank you.

[2015-03-31 13:43] NotSqrt commented on #55
I was about to add multiple items, I'm going to create separate issue.

[2015-03-31 13:43] philippeowagner commented on #55
:+1:

[2015-03-31 13:43] #55 closed

[2015-03-31 13:45] NotSqrt opened #56 "Better and safer support of urls"
* [x] interpret ``LOGIN_REDIRECT_URL`` as a named url (cf ``django.shortcuts.resolve_url`` and its usage in the django login view : https://github.com/django/django/blob/002425fe39f62faafaa32e400f7531809181a1a0/django/contrib/auth/views.py#L48 )
* [ ] support for sites without the ``admin`` app : specifically, use the ``LOGIN_URL`` setting when decorating views with ``staff_member_required``, beca

[2015-03-31 13:48] NotSqrt opened #57 "i18n"
* [ ] i18n of ``templates/hijack/notifications.html``
* [ ] i18n of ``HijackUserAdminMixin``
* [ ] specify steps on how to create/edit translations

[2015-03-31 14:06] NotSqrt commented on #54
As discussed in #55 , a new setting that would be useful to me:
a dotted path to a callback that would determine if a user can hijack another : that would allow more complex schemes than just superuser/staff (for instance, check if hijacker has a permission, check if the user to hijack respects some conditions)

I have in mind something similar to ``SHOW_TOOLBAR_CALLBACK`` in https://django-debug-

[2015-03-31 19:24] Ecno92 opened #58 "Refactor of code and following PEP8 style guidelines"
Last time I worked on my small improvement to add extra control regarding to the user permissions I noticed that there are quite some PEP8 violations and that some parts need a refactor to be better readable and easier to work with. (Check for instance the permission tests. They do their job, but are hard to understand.)

Fixing the PEP8 violations is quite easy, but refactoring large parts of the

[2015-03-31 19:37] philippeowagner commented on #58
@Ecno92,  your PR are very welcomed. @walterrenner , @yannik-ammann  or myself will review your PRs promptly to get ahead. Thanks again for your contribution.

[2015-04-02 08:22] philippeowagner opened #59 "Update tests to support 1.8"

[2015-04-07 06:47] yannik-ammann commented on #59
wait till official release of django nose with django 1.8 support

[2015-04-07 06:54] #58 closed

[2015-04-13 16:37] Ecno92 commented on #59
Are the tests the only thing that are broken or are there more open issues regarding to Django 1.8? I'm asking this because the issue related to Django 1.8 compatibility is already closed and I'm wondering if there is any work left beside fixing the tests.

[2015-04-15 12:28] philippeowagner commented on #59
@Ecno92 we have django-hijack running on Django 1.8 powered projects using a custom user model. As far as we know everything plays well with Django 1.8.

[2015-04-15 12:35] walterrenner opened #62 "ImproperlyConfigured is raised with default settings"
I just installed django-hijack with django==1.8 and a custom user model.

After adding hijack to INSTALLED_APPS and including the urls, the project won't start because of the custom user model: see [here](https://github.com/arteria/django-hijack/blob/master/hijack/admin.py#L43)

after setting SHOW_HIJACKUSER_IN_ADMIN = False and subclassing my custom user model admin from `admin.HijackUserAdminMix

[2015-04-15 13:50] walterrenner opened #63 "hazy FAQ for custom user models and the hijack button"
The answer for using django-hijack with a custom User model and the hijack button is not obvious enough.

I suggest to change it to something like:

[code]

[relevant source](https://github.com/arteria/django-hijack#why-does-the-hijack-button-not-show-up-in-the-admin-site-even-if-i-set-show_hijackuser_in_admin--true-in-my-project-settings)

[2015-04-24 14:43] #59 closed

[2015-05-19 08:06] benjaminrigaud opened #71 "Custom hijack permission function"
It would be great if we could define a function to dynamically determine if a user can hijack another one:

[code]

It could deprecate some settings  like ALLOW_STAFF_TO_HIJACKUSER and ALLOW_STAFF_TO_HIJACK_STAFF_USER (I find them cumbersome).

[2015-05-19 20:27] philippeowagner commented on #71
I totally agree with you and your suggestion. A similar approach was also suggested in #54 by @NotSqrt. Solving more complex use-cases like #34 would be easy then. We, @arteria/developers, also discussed this generic approach and have planned to refactor the historically grown settings parameters.
These changes has not yet been implemented, but are still on the radar.
If you, @benjaminrigaud,  hav

[2015-05-20 08:09] benjaminrigaud commented on #71
Thank you @philippeowagner for sharing the context with me.
I don't have much time yet, but I should be able to give it a go in the coming weeks.

[2015-05-20 10:33] benjaminrigaud commented on #71
I did something after all :) https://github.com/benjaminrigaud/django-hijack/commit/275caf6881682c5b7535513458822950c761f3cd
Doing some tests with my project at this time.

[2015-05-20 13:43] bargool opened #72 "Hijack with RemoteUser doesn't work"
Hijack loses authentification while
'django.contrib.auth.middleware.RemoteUserMiddleware' is in MIDDLEWARE_CLASSES

[2015-05-20 14:27] philippeowagner commented on #72
Thanks for reporting this issue @bargool. Having a quick look into the code of  ``RemoteUserMiddleware`` shows that the mechanism of the middleware is incompatible with what hijack does (the header mismatches with the hijacked user).
To solve this, a subclass of ``RemoteUserMiddleware`` could be implemented, that support holding both,  the original user based on the header and the hijacked user.

[2015-05-25 09:19] bargool commented on #72
@philippeowagner quick workaround (hack?), don't know, is this good for some PR..
But I think this is better if one have it's own RemoteUserMiddleware..
[code]

[2015-05-26 07:52] philippeowagner commented on #72
Thanks @bargool  for the PR #73. We will reviewing it with the intention to merge.

[2015-05-26 09:07] philippeowagner commented on #72
Fixed in be0d1eb3fb9c2812d1abb2d223abda478d764770

[2015-05-26 09:07] #72 closed

[2015-05-27 13:53] yannik-ammann commented on #71
@benjaminrigaud looks nice, would you mind to make a pull request?

[2015-05-27 14:08] benjaminrigaud commented on #71
Sure, I'll add one little thing and i'll do a PR this week.

[2015-06-02 06:53] #71 closed

[2015-06-02 07:22] yannik-ammann commented on #34
@akoumjian thanks to #75 there is now the possibility to create a [custom hijack function](https://github.com/arteria/django-hijack#custom-hijack-function). You can define your own permission handling.

[2015-06-02 07:22] #34 closed

[2015-06-11 08:31] philippeowagner opened #78 "Add testimonials to README"
* http://www.reddit.com/r/django/comments/39aggd/djangohijack_108_comes_with_a_custom_hijack/cs1z5y5

[2015-06-13 14:39] martolini opened #79 "CSS improvement, can't see navbar"
Standard fix navbars on bootstrap is block by the hijack notification.

[2015-06-14 20:21] philippeowagner commented on #79
Thanks @martolini for reporting this. Could you provide a fix for bootstrap?

[2015-07-15 22:09] philippeowagner opened #82 "Evaluation of "is_active" is not done currently."
Sometimes it would make sense to disable the hijack mechanism for inactive users. Hijacking an inactive use breaks a password reset token for example.

[2015-08-14 12:23] traynier opened #83 "Option to not update last login date"
It would be nice (even as an option?) to not update the users last login date when hijacking them.  I would like to use/view the last login date as when a user last used the system, not when I was last pretending to be them.

* Note I also use django-allauth which may or may not be relevant

[2015-08-17 22:15] philippeowagner commented on #83
That's how hijack works currently with the django core. Same issue as in #82. This has to be done for sure.

[2015-09-29 01:40] mbertolacci opened #84 "CSRF protection"
I believe it's not appropriate for the Hijack URLs to respond to GET requests. Masquerade is a fairly heavy side-effect, and right now a malicious attacker could craft a URL, send it to an administrator, who might then be masquerading as another user without their knowledge. See https://docs.djangoproject.com/en/1.8/ref/csrf/

This account could potentially be under the control of a malicious user

[2015-09-29 08:24] philippeowagner commented on #84
Hello @mbertolacci

Please correct me if I'm wrong - but this is not a real problem.

Once an admin hijacks another user, you will see a warning notice by default saying that you work behalf of somebody else. Optional you could [bind the signals emitted](https://github.com/arteria/django-hijack/blob/master/hijack/signals.py#L3) to something useful for your use case, for example sending an email to

[2015-09-30 13:08] mbertolacci commented on #84
Hi @philippeowagner,

Thanks for your reply!

The warning is good, that is definitely true, and I think it helps.

The benefit from changing to POST is that the hijack URL would require a CSRF token. That way, links from outside the site could never trigger a hijack. For instance, right now a person could put a link to the hijack URL in an email or forum post, and if an admin clicked on the link,

[2015-10-23 21:49] chadgh opened #88 "custom hijack function not working as expected"
In my application I have users that are designated as agents (but not staff) and users that those agents are assigned to.

I've written a custom hijack function to determine permission, but the **hijacking seems to only works if I make the agents staff also**.

Is there any way around this limitation?

[2015-10-24 21:26] philippeowagner commented on #88
Hi @chadgh

Thanks for filing this issue.

It seems that you are falling back to the defaults. Does your `CUSTOM_HIJACK_HANDLER` will be invoked during hijacking? The default settings had grown historically and we [will rework them in the future](https://github.com/arteria/django-hijack/issues/54). However, if yes, please provide more info to reproduce the behavior mentioned. The idea of the  `CUS

[2015-10-25 03:07] chadgh commented on #88
Looks like it isn't actually calling the `CUSTOM_HIJACK_HANDLER` function, but when I try to go to something like `/hijack/1` it redirects to `/admin/login` with some redirect params, but since the user isn't staff, the `/admin/login` url responds with 403 Forbidden.

Do I need to specify a different login endpoint?

[2015-10-26 10:10] philippeowagner commented on #88
Hijack currently requires at least staff access - all relevant view methods are [decorated](https://github.com/arteria/django-hijack/blob/master/hijack/views.py#L15). That's the reason why you are redirected to the admin page first ...  This should be reworked for [version 2.0](https://github.com/arteria/django-hijack/milestones/2.0.0). Can't give you an ETA on this at the moment.

[2015-10-26 13:33] chadgh commented on #88
Good to hear. Thanks.

I've actually gone down another path to solve my problem, but I think it would be nice to be able to specify a `CUSTOM_HIJACK_HANDLER` and have that determine all permissions for hijacking. Could be very powerful.

Thanks again.

[2015-11-10 11:06] jvamvas opened #89 "Hide hijack button if hijacking is not permitted"

[2015-11-10 14:50] jvamvas commented on #84
@mbertolacci, I agree with you that using POST requests would be safer.
However, it seems not possible to render a CSRF token into an admin list display field (cf. this Django ticket: https://code.djangoproject.com/ticket/13659).
Do you have an idea how to switch from GET to POST while retaining the current admin functionality?

[2015-11-11 09:51] jvamvas opened #90 "Add check for settings–version compatibility"

[2015-11-12 13:11] jvamvas commented on #56
Sub-issue 2 has been resolved in the v2.0.0 branch by making the decorator configurable. See 5d967af.

[2015-11-12 16:21] jvamvas opened #91 "Handle RemovedInDjango110Warnings"

[2015-11-12 20:37] ActionScripted commented on #88
+1

We've got a similar setup with staff, managers and users and we'd love to be able to use the custom handler with our own `is_manager_or_above` to allow managers hijacking capabilities.

(Thanks for all the awesome work on django-hijack!)

[2015-11-13 08:15] philippeowagner opened #92 "Remove session related things from Hijack"
https://github.com/arteria/django-hijack/blob/master/hijack/admin.py#L55-L63

We should create an companion app for that including session key to user lookup.

[2015-11-16 14:31] jvamvas opened #93 "Replace notification filter by template tag"
Instead of

    {{ request | hijackNotification }}

it would be more clear to just have

    {{ hijack_notification }}

[2015-11-16 14:35] jvamvas opened #94 "Test and document signals"
In addition to `post_superuser_login`, there is also `post_superuser_logout` in `signals.py`.

[2015-11-16 14:45] #82 closed

[2015-11-16 14:45] #83 closed

[2015-11-16 14:45] #54 closed

[2015-11-16 14:45] #56 closed

[2015-11-16 14:45] #57 closed

[2015-11-16 14:45] #62 closed

[2015-11-16 14:45] #63 closed

[2015-11-16 14:45] #78 closed

[2015-11-16 14:45] #79 closed

[2015-11-16 14:45] #88 closed

[2015-11-16 14:45] #89 closed

[2015-11-16 14:45] #90 closed

[2015-11-16 14:45] #91 closed

[2015-11-16 16:17] jvamvas commented on #92
Moved the session admin, but did not find the session-key-to-user code.

[2015-11-16 17:14] #93 closed

[2015-11-19 08:12] jvamvas opened #95 "Unit tests for HIJACK_DECORATOR setting"

[2015-11-20 10:05] #94 closed

[2015-11-20 10:35] philippeowagner commented on #92
@jvamvas there it is https://github.com/arteria/django-sessioninfo/issues/1

[2015-11-20 13:07] #92 closed

[2015-11-20 23:38] kevinmickey opened #96 "Link to Repo in Documentation?"
I was reading the documentation at https://django-hijack.readthedocs.org/en/latest/ and was expecting to see a link to the repo or "Edit on Github".

[2015-11-21 11:34] bulatshafigullin opened #97 "Django 1.8 When using cached_db as session backend Set-Cookie returns session_id= (empty)"
I was using django 1.7 where everything works fine, and now I'm trying to switch to django 1.8.
When using default session backend problem doesn't occur, but with memcached+db through cached_db hijack/<user_id> returns these headers
[code]
As you can see sessionid is empty, and when I comment this line
[code]
sessionid is there as expected.

[2015-11-21 12:02] bulatshafigullin commented on #97
Well, I've discovered so far, that request.session returns db session in login function in helpers.py module. So it somehow ignores that I'm using another backend, but when I delete all the sessions from db ``` django.contrib.sessions.models.Session.objects.all().delete() ```  it starts working as expected.
So I guess I can close this issue.

[2015-11-21 12:02] #97 closed

[2015-11-21 18:18] philippeowagner commented on #96
Good point @kevinmickey ! We will improve this in the next cycle...

[2015-11-23 08:42] jvamvas commented on #96
This is an issue with mkdocs: https://github.com/mkdocs/mkdocs/issues/269. In the meantime, I've added a link to the repo in `index.md`

[2015-12-07 00:07] ntucker opened #98 "When using custom user models HIJACK_DISPLAY_ADMIN_BUTTON must be False"
But the documentation doesn't mention this in Custom user models section

[2015-12-07 07:58] #98 closed

[2016-01-11 18:22] aldarund opened #102 "Setup error"
01a6035e3d6868851793443d644580d2466e3ced produced an setup error for me.

[code]

[2016-01-12 08:14] walterrenner commented on #102
@aldarund on which python version did you encountered this error?

[2016-01-12 08:28] aldarund commented on #102
@walterrenner Python 2.7.6

[2016-01-14 20:27] mcrowson opened #104 "Prepare for Django 1.10 Depreacations"
When Django 1.10 comes out it looks like there will be some rendering, template, and context deprecations.

https://docs.djangoproject.com/en/1.9/internals/deprecation/#deprecation-removed-in-1-10

In Django 1.9 now and am getting warnings about this.

[2016-01-15 14:19] walterrenner commented on #102
@aldarund can you confirm, that #106 fixes this issue?

[2016-01-18 08:48] #104 closed

[2016-01-25 02:18] whoisearth opened #107 "AbstractUser error"
I'm using an AbstractUser model here -

    class MyProjectUser(AbstractUser):
        company = models.ForeignKey('Company', blank=True, null=True)
        uuid = models.UUIDField(editable=False,default=uuid.uuid4(),unique=True)
        is_admin = models.BooleanField(default=False)

        def __str__(self):
            return self.username

On loading your app I get the following error -

    T

[2016-01-25 02:46] whoisearth commented on #107
Help if I noticed the troubleshooting doc here -

http://django-hijack.readthedocs.org/en/latest/troubleshooting/

Updated my admin.py and working :)

[2016-01-25 02:46] #107 closed

[2016-02-16 03:12] vladir opened #109 "Django 1.9 support"
I'm on my way of upgrading a project that uses `django-hijack` to `Django 1.9`. Is `Django 1.9` already supported? Thanks in advance

[2016-02-16 07:52] walterrenner commented on #109
Hi @vladir.

In general we already support Django 1.9. As you can see [here](https://travis-ci.org/arteria/django-hijack), the tests pass for Python 2.7, 3.4, and 3.5.

So if you use one of the Python versions above you should be fine with upgrading. :+1:

[2016-02-16 14:52] vladir commented on #109
Hi @walterrenner,

  Thanks a lot for your quick response, I really appreciate that. I will be ok, I'm using Python 2.7 ;), and I will soon upgrade to Python3. Thanks again mate :)

[2016-02-16 15:44] walterrenner commented on #109
you're welcome.

[2016-02-16 15:45] #109 closed

[2016-02-29 19:00] alex-kaufman opened #110 "Hijack session variables are not available until after hijack is fully completed"
I am using the builtin django auth signal `user_logged_in` to record when user logins and store metadata about their login.  However, I do not want to keep track of hijacked logins.  This presents an issue because at the point a user is logged in via hijack https://github.com/arteria/django-hijack/blob/master/hijack/helpers.py#L110, the session variables are not set, which does make sense since yo

[2016-03-02 12:28] jvamvas commented on #110
@alex-kaufman Thank you for your feedback. I currently do not see a way to solve this issue with an extra session variable. Django creates a new session when ``login`` is called (https://github.com/django/django/blob/stable/1.8.x/django/contrib/auth/__init__.py#L108), so the variable would be deleted before the login signal is sent.

However, django-hijack has its own signals (http://django-hijack

[2016-03-02 14:27] jvamvas commented on #102
Circumvented the problem by removing the two unicode characters from README (fd8f113)

[2016-03-07 20:31] Zopieux commented on #84
This is a very important issue to me. Even though there is visual feedback, the "attack" should not be possible at all. Impersonation is a powerful feature that should be as secure as possible. Please also remember that people using the library will not necessary use the same integration as you wish they do. Maybe they'll want not to display any warning.

I do agree the admin integration is a real

[2016-03-07 20:36] Zopieux commented on #110
@alex-kaufman Does df7a3f9805fc9fcb72646554226f4cf0543d8292 fixes your issue? *tl;dr* the `user_logged_in` signal is now ignored during hijacked logins.

If it does, please remember to close this issue! Thanks.

[2016-03-07 20:39] Zopieux commented on #27
I don't think this should be added to `django-hijack` core, as it is very application-specific:

* mail templates are very specific;
* some Django setups use specialized mailing frameworks;
* rate limitation will be an issue.

You can just add a signal handler with `send_mail()` in it.

[2016-03-07 20:51] philippeowagner commented on #27
@Zopieux agreed.

[2016-03-07 20:51] #27 closed

[2016-03-07 20:54] philippeowagner commented on #4
Should not be in the core, so closing this as well.

[2016-03-07 20:54] #4 closed

[2016-03-07 20:58] Zopieux commented on #27
It could be a good idea to drop a line in the docs about that, though! With a small code sample of the signal handler + Django `send_mail`.

[2016-03-07 21:09] philippeowagner commented on #27
Yes, or creating small specific apps for all these use cases. Aiming to keep the core of hijack secure, robust and clean.

- django-hijack-emailnotification, for #27
- django-hijack-bootstrap-notifictation, for #4
- django-hijack-admin, for #84
- ...

[2016-03-07 21:24] alex-kaufman commented on #110
Unfortunately it does not.  The `user_logged_in` signal does not seem to be disconnected.  https://github.com/arteria/django-hijack/commit/df7a3f9805fc9fcb72646554226f4cf0543d8292#diff-49fd28c4615b7a75d1da58eabf1f4f8eR111, in djangos login method it still is sending the `user_logged_in` signal

[2016-03-07 21:26] philippeowagner opened #114 "Keep the core of hijack secure, robust and clean."
To keep the core of hijack secure, robust and clean Django's admin site support will be dropped with version 2.1.0 to be able to handle #84 properly.

The functionality will be moved out of the core and made available through [django-hijack-admin].

[2016-03-07 21:29] philippeowagner commented on #84
#114

[2016-03-08 08:19] Zopieux commented on #110
Signals cannot be *disconnected* in the meaning you seem to understand. What can be disconnected are signal *handlers*, that are functions called when a specific signal `send()` method is called. This is what df7a3f9 does. I was mistaken about your issue though, and indeed this commit will not help you.

AFAICT, what we need is a custom django-hijack authentication backend that would be applied to

[2016-03-08 08:23] Zopieux commented on #114
Thanks for the effort! :+1:

[2016-04-06 08:47] jvamvas opened #115 "Remove deprecated signals"
The pre-2.x signals `post_superuser_login` and `post_superuser_logout` can probably be removed.

Partial documentation of the old signals: https://github.com/arteria/django-hijack/tree/support-1.0.x#signals

[2016-04-09 05:56] pembo13 opened #116 "Pass request to signals"
It would be really good if you could pass the `request` to the signals. Outside of re-implementing the views, the signals are the best place to capture when hijacking and releasing for the purpose of auditing/logging.

[2016-04-13 15:42] #116 closed

[2016-04-13 15:42] jvamvas commented on #114
Moved admin integration to https://github.com/arteria/django-hijack-admin

[2016-04-13 15:42] #114 closed

[2016-04-13 15:44] jvamvas commented on #84
Hijack endpoints require POST by default with version 2.1.0.

[2016-04-13 15:44] #84 closed

[2016-04-13 15:44] #95 closed

[2016-04-13 16:21] walterrenner opened #117 "Setup Tox with Travis CI to Test django-hijack"
Running tests locally allows faster development without depending on Travis CI

[2016-04-18 05:21] stylesen opened #118 "Unit tests fail v2.1.0"
Two unit test failures observed on v2.1.0 as seen below (hinders Debian packaging):

[code]

[2016-04-19 15:37] jvamvas commented on #118
Thank you for pointing this out. It seems that those two tests need to be run separately because they rely on settings-dependent decorators.

I have released a new version 2.1.1 where those tests are skipped if they are not called explicitly.

[2016-04-19 17:51] stylesen commented on #118
Works fine for me. There is more work involved before this new release ie., 2.1.1 will be packaged to Debian since we have templates now, which should be placed on the correct location via the Debian package. Will work on the same shortly.

[2016-04-19 18:00] #118 closed

[2016-05-03 15:22] fission6 commented on #110
Is there a fix for this. I have handlers listening to user_logged_in which is being fired whenever someone hijacks an account. I do not want my handler to account for hijacked accounts. Is there a way to avoid this?

[2016-06-06 19:56] fission6 commented on #110
@alex-kaufman just wanted to double check if there was a solution for figuring out if a user session is hijacked for a signal receiver for user_logged_in

[2016-09-12 14:35] justinmayer commented on #96
The linked MkDocs issue appears has been resolved, by the way. That said, since @jvamvas added a link to the GitHub repo via 1d72c0e, I think this issue can be closed.

[2016-09-12 14:37] justinmayer commented on #102
This issue appears to have been resolved and can most likely be closed.

[2016-11-03 15:44] philippeowagner opened #122 "Testimonials :-)"
- https://www.reddit.com/r/django/comments/4wqo0d/djangohijack_v_212_is_out/d9k1q2a/

[2016-11-21 10:39] #102 closed

[2016-11-25 21:18] Ecno92 opened #126 "Feature: Ask for the reason of hijacking"
Has it ever been considered to ask a staff member for the reason why he or she hijacks a user?

This can be a useful feature to keep track on why people are hijacking other users and this may reveal opportunities to improve the product (according to me Hijacking should be avoided as much as possible in most products). Also it helps with accountability. If something goes wrong you know who hijacked

[2016-11-27 21:21] philippeowagner commented on #126
It is possible to cover a lot of use cases using hijack - including yours.

We try to keep the core small and clean. Instead of adding features we remove them, for example moved the Django admin site integration (see #114 ) out of the core and implemented it in a [stand alone app](https://github.com/arteria/django-hijack-admin).

This could be the way to go to get the required functionality on top

[2016-11-27 21:21] #126 closed

[2016-11-29 12:49] #122 closed

[2016-11-30 09:07] djsan15 opened #127 "setting to block superuser to hijack another superuser"
There should a settings to block a superuser from hijacking another superuser similar to staff.

[2016-12-06 13:44] jvamvas commented on #127
Good idea, @djsan15! Do you want to make a PR?

[2017-01-26 09:32] t0mab opened #131 "Add compiled messages (*.mo) when releasing a new version."
In a manner that the application could be easily installed with a different language for locales it would be smart to commit compiled messages files (*.mo). This issue is relevant as well for django-hijack-admin !

Thanks a lot !

[2017-02-20 12:04] #96 closed

[2017-02-27 09:00] jvamvas commented on #131
Thank you for the suggestion @t0mab :)  From 2.1.3 forward, the releases of django-hijack and django-hijack-admin will include the compiled messages.

[2017-02-27 09:00] #131 closed

[2017-02-27 15:39] philippeowagner opened #133 "Testimonials and love :)"
* https://twitter.com/bmihelac/status/836225081508519936

[2017-03-02 14:26] iarp opened #135 "Suggestion: Group based hijack ability"
As is superusers always have the hijack ability and you can enable staff via the settings. However that enables it for all staff. Having the ability to add a user to a group that gives them the ability to hijack would allow a much higher degree of control of who can do it.

`user.groups.filter(name__iexact='Hijacker Allowed').exists()`

When I have time I'll dig deeper into the code and see if I c

[2017-03-02 14:40] walterrenner commented on #135
Please check the [Custom authorization function](http://django-hijack.readthedocs.io/en/stable/configuration/#custom-authorization-function) if the standard behavior doesn't fit your needs.

That gives you full control and full flexibility to implement most use cases.

[2017-03-19 07:16] bw2 opened #136 "hijack button logs out of current user, but doesn't log in as other user, instead redirecting to the login page."
I've installed django-hijack and set up the recommended form

[code]

When I go to that form page and click the Hijack button, it first redirects to the expected page (/dashboard) but then immediately redirects again to the django login page. It's as if it logs out, but doesn't log in as the desired user.

The django runserver output is:

"GET /hijack_view/ HTTP/1.1" 200 225
"POST /hijack/3/ HTTP/

[2017-03-21 12:38] jvamvas commented on #136
Can you make sure that the hijacked user has the permission to visit the dashboard?

I am asking because redirecting to the login page is also a common behaviour of Django authentication checks. For example, the `staff_member_required` decorator redirects to login if the user you are logged in with is not staff or is inactive.

[2017-03-21 13:31] bw2 commented on #136
They do have permission (and I get the same behavior regardless of where I point hijack.
Also, in case this is useful, my settings are
[code]

[2017-03-21 14:51] jvamvas commented on #136
Thank you for providing the settings. I believe the reason for the login failure is that you have a custom `SESSION_COOKIE_NAME`, and I will create another issue for this problem.

[2017-03-21 14:53] jvamvas opened #137 "Does not work with custom SESSION_COOKIE_NAME"
Example:
[code]
See also:  #136

[2017-03-22 09:33] bw2 commented on #136
It wasn't working after I removed `SESSION_COOKIE_NAME` but I noticed we also had another legacy setting `SESSION_COOKIE_PATH = ""`.  Removing that also got everything to work.
Thanks for the help, and the awesome plugin.

[2017-03-22 09:39] pythdasch opened #138 "Hijack with subdomains"
I'm using subdomains for my project and admin. Hijack is not able to add the subdomain into the url.

Is there an option or something to fix this ?

Thanks in advance

[2017-03-30 11:28] #117 closed

[2017-04-05 13:08] skulegirl opened #139 "Django 1.11 support please!"
Tried to install this with my upgrade to Django-1.11 last night and was sad when it downgraded my Django back to 1.10. Love this app, please let me continue to use it!

[2017-04-05 13:24] philippeowagner commented on #139
Django 1.11 was released a few hours ago. But yeah – we will support the new LTS soon.
Thanks for using django-hijack!

[2017-04-05 13:39] philippeowagner commented on #139
https://github.com/arteria/django-compat/issues/53

[2017-04-14 21:58] EmSyndio opened #141 "How to set cookie for session only?"
hijack cookie last for a year.

after 30+ impersonations, I end up with a bunch of cookies that are too big for the HTTP header, and crashes the app.

is there a way to make those session cookies?

[2017-04-20 12:44] caduri commented on #139
You added support to Django 1.11 yesterday(!!) in version 2.1.4 but the version in pypi is still 2.1.3
can you take a look?

[2017-04-20 14:45] philippeowagner commented on #139
https://pypi.python.org/pypi/django-hijack/2.1.4

[2017-04-20 14:45] #139 closed

[2017-05-15 14:32] #115 closed

[2017-05-17 08:45] jvamvas commented on #137
Seems to work after all. I've added a test to make sure

[2017-05-17 08:45] #137 closed

[2017-05-17 08:46] #136 closed

[2017-05-17 08:58] jvamvas commented on #138
@pythdasch Are you using https://github.com/tkaemming/django-subdomains?

[2017-05-17 09:01] pythdasch commented on #138
@jvamvas Exactly

[2017-05-17 09:09] jvamvas commented on #138
@pythdasch Thank you for reporting this problem.

As this is a rather special use case, I guess we will have to live with the incompatibility. However, if you would like to make a pull request (including unit tests), we would be happy to review it.

[2017-05-17 09:21] pythdasch commented on #138
@jvamvas since it was for a project I no longer work on, it's ok for me.

BTW, are you knowing that for the moment hijack isn't compatible with python 3.5 and django 1.11 ?

[2017-05-17 09:26] jvamvas commented on #138
@pythdasch Ok, I am going to close this issue. We will look into the other problem and create a separate issue if it can be reproduced

[2017-05-17 09:26] #138 closed

[2017-05-27 14:39] risicle opened #143 "runtests.py in manifest"
Could I suggest you include `runtests.py` and any other files required to successfully run the tests in `MANIFEST.in`?

It would be extremely useful to be able to run the tests from an sdist package.

[2017-05-30 06:31] levic opened #144 "CHANGELOG.txt not up to date"
Thanks for a very useful app!

A minor request though: can `CHANGELOG.txt` be kept up to date for future releases?

It hasn't been updated since 2.0.0; currently we're running manual diffs between releases to confirm that there appears to be no breaking changes and I'm sure we're not the only ones doing this.

This would be much quicker (and less error-prone) for users if the change log was update

[2017-05-31 09:31] walterrenner commented on #143
This is a good point @risicle.

Do you mind sending a Pull Request with the updated MANIFEST.in file?

[2017-05-31 09:35] walterrenner commented on #144
Hi @levic.

Thanks for your feedback. I absolutely agree!
I will update the CHANGELOG.txt in the next days.

In the meantime you can check https://github.com/arteria/django-hijack/releases or open a new Issue if you have any questions.

[2017-05-31 19:06] risicle commented on #143
I don't necessarily know which extra files are required for running the tests. What I've ended up doing when building nix packages for this (see https://github.com/NixOS/nixpkgs/pull/26166/files) is just fetch the tag from github.

[2017-06-27 14:17] walterrenner commented on #144
Changelog is up to date.

[2017-06-27 14:17] #144 closed

[2017-08-10 00:13] ewsamuels opened #146 "User display issue"
Hello,

Thanks for a great module!

I have integrated Hijack into my app and for the most part it works great the only issue I have is that it doesn't display the user, we only get the  "You are currently working on behalf of". and the release button.

We are using Django 1.11, any ideas?

Thanks

Errol

[2017-08-10 00:22] ewsamuels commented on #146
Ok I was able to solve it:
django.template.context_processors.request was missing

[2017-08-10 00:22] #146 closed

[2017-08-22 22:01] #133 closed

[2017-12-04 11:14] walterrenner opened #149 "Django 2.0 Support"

[2017-12-04 11:32] walterrenner commented on #149
Currently working on Support for Django 2.0

The tests for `test_last_login_time_not_changed` fail with the error:

```ERROR: InvocationError: '/home/travis/build/arteria/django-hijack/.tox/py35-django20/bin/coverage run -a runtests.py hijack.tests.test_hijack'```

According to the Django Docs there were no major changes on how Signals work. Anybody can help out?

[2017-12-04 11:33] walterrenner commented on #149
@Zopieux you introduced there feature a while ago. Maybe you can take a look if you're not too busy.

[2017-12-05 04:08] Mogost commented on #149
[code]
Did not pass the test in test_last_login_time_not_changed

[2017-12-05 05:56] Mogost commented on #149
[code]

[2017-12-05 08:04] walterrenner commented on #149
Thanks for your Inputs @Mogost. We are working on the mentioned error in #150. This changes will be available in the next version.

[2017-12-05 08:22] #149 closed

[2017-12-05 10:50] Zopieux commented on #149
@Mogost see my patch [comment](/arteria/django-hijack/pull/150#issuecomment-349068476). Changing to the `dispatch_uid` breaks earlier Djangos. I don't understand Django's rationale of filtering on *both* fields when one is None, but whatever.

[2017-12-05 19:35] kavdev opened #152 "missing changelog for 2.1.5"
If it's not too much trouble, can you write up a quick changelog for 2.1.5?

[2017-12-07 18:34] androane opened #153 "hijack not working for subdomains"
Since cookies don't share across subdomains, hijack is not working.

In my case I have admin in a sbudomain admin.example.com and when I'm hijacking, the impersonate user is logged in still in admin. But my regular site is in www.example.com

I think it would be nice to make it configurable. What do you think?

[2017-12-14 15:36] #152 closed

[2017-12-14 15:37] walterrenner commented on #153
This is not on the roadmap so far. But if you like you can send a PR.

[2017-12-21 10:23] Allan-Nava opened #157 "Only admin can login with other user credentials?"
Hi,

I need a feature like Netflix users management, that one users can impersonate the "children"

Thanks for support!

[2017-12-22 15:39] walterrenner commented on #157
I don't know much about that functionality on netflix. But django-hijack is fully customazible. With a custom [authorization-function](http://django-hijack.readthedocs.io/en/stable/configuration/#custom-authorization-function) you can decide who can hijack whom. So you don't depend on admin users.

Hope that helps.

[2017-12-23 18:34] walterrenner opened #158 "HijackRemoteUserMiddleware is not covered in any test case"

[2018-01-02 13:05] #158 closed

[2018-01-08 17:40] Freezzz opened #159 "Dynamic hijack url"
Thanks for the amazing project, it would be great to be able to pass `HIJACK_LOGIN_REDIRECT_URL` as param to /hijack/{user}/?redirect_url=URL` so it will be possible to override redirect.

[2018-01-11 17:34] audiolion opened #160 "Django 1.10+ Support (Middleware)"
The `HijackRemoteUserMiddleware` was never upgraded to the new style of middleware in 1.10+, if you use the middleware and upgrade to 1.10 the server won't start.

Currently I am fixing it by

[code]

[2018-01-24 04:17] mscuthbert opened #161 "Django-jinja2 integration"
Hello!  Thanks for making hijack.  Been using it on my site, but we just switched most of our main pages to using django-jinja for template rendering and thought that you might like to have in the system the code we needed to use to get the tag to work.

Writing a Jinja2 extension is very difficult, and there were no documented examples I could find of how to write an extension that required the r

[2018-01-25 09:53] philippeowagner commented on #160
@audiolion could you provide a backward compatible PR for this? That would be great!

[2018-01-25 09:56] philippeowagner commented on #153
@androane good idea. Are you interested to provide a PR for this?

[2018-01-25 09:59] philippeowagner commented on #141
@EmSyndio is this still an issue or could we close this?

[2018-01-25 10:01] philippeowagner commented on #110
Could we close this?

[2018-01-25 14:17] audiolion commented on #160
Yeah I can, please ping me in a few days if you don't hear, sometimes I forget!

[2018-01-26 13:48] walterrenner commented on #157
@Allan-Nava Please reopen is you need more information

[2018-01-26 13:48] #157 closed

[2018-01-26 14:22] walterrenner commented on #160
@audiolion i used your changes in #162. I was working on tests for the Middleware anyway.
The changes will be available in the next version. Thanks for pointing this out.

[2018-01-26 20:24] audiolion commented on #160
nice 👍

[2018-01-26 20:24] #160 closed

[2018-01-30 08:45] GitBib opened #163 "The authentication was broken"
After installing the module on the site. Began to notice that some users see some pages of other users. How to fix this?
Django: 2.0.1
Python 3.6.4
django-hijack: 2.1.6
django-hijack-admin: 2.1.6

[2018-01-30 10:39] walterrenner commented on #163
What's the exact problem? Please provide more information on what is going on.

[2018-01-30 10:57] GitBib commented on #163
Problem:
1. Capture the account Test from the account admin
2. We go by page on behalf of Test
3. Disable Capture Test
4. We go on behalf of Test (in another browser)
5. We see the pages on behalf of admin

Such a problem appeared after installing django-hijack and django-hijack-admin. Before this problem was not. In each of the views I use @login_required (login_url = '/ login')

[2018-01-30 11:17] walterrenner commented on #163
Whats exactly is happening in step 4?
You are logged in as "test" in another browser while doing steps 1 - 3?
In which browser do you see the page on behalt of admin? (step 5)

[2018-01-30 11:20] GitBib commented on #163
Without taking steps from 1 to 3. I go to another browser as a Test.
And at step 5, I look in the first browser where the steps from 1-3 were performed.

[2018-01-30 15:08] GitBib commented on #163
window 1, browser 1: admin account, page 1
window 2, browser 2: account test, page 1
window 3, browser 2: account test, page 2

As we see that for some reason we see data on the same page on the same page (although this should not be), and on the second page we see the data from the account test
![564564](https://user-images.githubusercontent.com/15717621/35573419-244d10c4-05e8-11e8-8481-59aea5077

[2018-01-30 16:48] GitBib commented on #163
Changes like rollback, which were caused by django-hijack and django-hijack-admin?

[2018-01-30 19:34] GitBib commented on #163
repaired.

[2018-01-30 19:34] #163 closed

[2018-01-31 06:50] walterrenner commented on #163
@GitBib the problem was caused by django-hijack?

[2018-01-31 10:47] GitBib commented on #163
@walterrenner partially. The cache was also involved.

[2018-02-18 15:13] Zopieux opened #166 "Clarify master/develop policy"
Hey,

As an oldish contributor to this project, I've already made the mistake of opening a PR against `master`, even though it seems like `develop` is the branch we're supposed to build upon (and the 3 PRs currently open are against `master`…). The docs say nothing about the differences between the two or what are their respective purpose.

Could you add something in the README or [the docs](http:

[2018-02-18 15:16] Zopieux commented on #166
For what it's worth, I find it a bit misleading and hard to manage for open-source projects to have these two-branch workflows. May I suggest removing the develop branch and use **tags** as *stable release* indicators? So contributors can just commit against `master`, write-access members can include changes into master, and owners can tag what they consider releases.

[2018-02-21 12:54] walterrenner commented on #166
I've updated the part in the docs and added the CONTRIBUTING.md file, which should clear things up. Also, as suggested, deleted the develop brach (Thanks for pointing this out. Never thought about that it might be confusing to contributors).

Also added a bumpversion config file to make tagging new versions much easier and consistent.

Thanks for contributing  🎉

[2018-02-21 12:54] #166 closed

[2018-02-21 15:05] Zopieux commented on #166
@walterrenner Nice 🎉 Thanks for taking suggestions into consideration!

[2018-02-23 21:03] macolo opened #170 "button styling breaks on narrow window"
Why cant this just be styled as a simple text link?

![image](https://user-images.githubusercontent.com/4056979/36616785-51e1d230-18e5-11e8-9bf5-fc66c0d7f658.png)

[2018-03-19 00:29] arheops opened #171 "Custom login HIJACK_AUTHORIZATION_CHECK not working like described in doc"
At current moment it also REQUIRE change of decorator to

or other similar decorator.
This not described in doc and require read almost full source code to understand.
without that code always ask for staff user/password is source user is not staff, so custom authorization check usless and not work.

Possible solution:
1) change default decorator to login_required
2) put into doc in section for HI

[2018-05-10 02:59] hirokiky commented on #110
@Zopieux @philippeowagner No. I think this issue can't be closed.

The commit https://github.com/arteria/django-hijack/commit/df7a3f9805fc9fcb72646554226f4cf0543d8292 (@Zopieux said) will disconnect `update_last_login` handler while calling actual django's `login` function.
At current version (version 2.1.7), this behavior is covered by `no_update_last_login` context manager https://github.com/art

[2018-05-25 14:12] Spooner commented on #161
Many thanks for this!

[2018-05-25 21:11] philippeowagner commented on #161
Sorry @mscuthbert, this issue just get my attention with @Spooner 's comment.

We currently do not use Jinja2, but to keep it _dry_ for others it would be a good idea to provide a wrapper for `hijack_notification` that takes a request object. Has the file `jinja_filters.py` to follow a specific name pattern and has the code to be placed there or could the code live in `hijack_tags.py` as well? Is

[2018-05-25 21:17] Spooner commented on #161
The filename doesn't matter - the filter is created based on the name of the function. Happy to test w if you integrate with your version, but I'd need a way to set the notifications template, since I hardcoded my own template file in the version I've used in production.

[2018-05-25 21:48] philippeowagner commented on #170
Hi @macolo

This is part of [django-hijack-admin](https://github.com/arteria/django-hijack-admin), the admin related app.

You could define your custom template using `HIJACK_BUTTON_TEMPLATE` in your `settings.py`.
See https://github.com/arteria/django-hijack-admin#hijack_button_template for more info.

[2018-05-25 21:48] #170 closed

[2018-05-25 21:50] philippeowagner commented on #161
@mscuthbert skipping the jinja part is easy in case an `ImportError` is raised.

Okay @mscuthbert @Spooner , we should give it a try... I hope I will find time to work on it during the DjangoConEU Sprints tomorrow.

[2018-05-26 10:46] philippeowagner commented on #161
@mscuthbert @Spooner could you please give django-hijack version 2.1.8 a try?

[2018-05-26 12:08] philippeowagner commented on #159
Basically you could use `?next=.. ` if you activate `HIJACK_ALLOW_GET_REQUESTS` in your settings. Further more `HIJACK_LOGIN_REDIRECT_URL` is the default URL, so this should work already.
See https://github.com/arteria/django-hijack/blob/21e61f5567bd67f33e1d216dbfaad3a6d9cf8bd0/hijack/helpers.py#L146

Please feel free to reopen for further discussion.

[2018-05-26 12:08] #159 closed

[2018-05-26 12:46] philippeowagner commented on #153
Closing this – feel free to reopen if there is progress on this one.

[2018-05-26 12:46] #153 closed

[2018-05-26 12:47] philippeowagner commented on #141
Feel free to reopen if this is still an issue.

[2018-05-26 12:47] #141 closed

[2018-05-26 12:49] philippeowagner commented on #127
You could implement your own hijack function, see `HIJACK_AUTHORIZATION_CHECK` http://django-hijack.readthedocs.io/en/stable/configuration/. There is an example as well.

[2018-05-26 12:49] #127 closed

[2018-05-28 21:51] philippeowagner commented on #161
@Spooner did you noticed, that you can pass the template path as well?

https://github.com/arteria/django-hijack/blob/master/hijack/templatetags/hijack_tags.py#L59

[2018-05-28 21:54] Spooner commented on #161
Thanks. I've been away for the long weekend, but I'll try to update my
project to use your new code before the end of the week.

On Mon, 28 May 2018, 22:51 Philippe O. Wagner, <notifications@github.com>
wrote:

[2018-05-28 21:58] philippeowagner commented on #161
@Spooner no hurry. Just wanted to make sure the notification reached you.

[2018-06-02 13:08] Spooner commented on #161
Updated to 2.1.9, which works great with:
```request|jinja_hijack_notification("accounts/hijack_notification.haml")```

Many thanks!

[2018-06-03 18:26] cachitas opened #173 "Compatibility with Django 2.1"
As of version 2.1a1, hijacking a user raises

is_safe_url() missing 1 required positional argument: 'allowed_hosts'

From the 2.1 release notes:

[2018-06-05 18:06] walterrenner commented on #173
Thanks for pointing this out.
I would recomment we add 2.1a1 to the tox and travis test suites and check if there is more work to be done to support Django2.1

[2018-06-06 03:27] ulternate opened #174 "Include some session values in the request prior to sending signals."
We would like to log the hijacks of user accounts and planned on using the signals to generate those database entries.

The session object in the signals doesn't have any unique identifier to enable us to create a new log entry, and update it when the `release_hijack` function is called.

Local testing shows any session_key that is set in `hijack_started` being cleared in `release_hijack` when we

[2018-06-06 03:28] ulternate commented on #174
I've submitted a PR that uses the `uuid` library, generating a UUID and adding it to the request session before each signal is sent.

#175

[2018-08-07 17:45] #173 closed

[2018-08-09 14:27] bbaker6225 opened #180 "Superusers are able to hijack any other user including superusers"
Django-hijack's current implementation allows superusers to hijack any other user, including superusers.   This is an issue in some applications, where different superusers have access to different tables in django-admin (this could happen when a company's devops engineers have access to more tables than their regular engineers, but both still need superuser access).  In this case, a superuser wit

[2018-08-09 14:34] philippeowagner commented on #180
You could implement your own hijack function, see HIJACK_AUTHORIZATION_CHECK http://django-hijack.readthedocs.io/en/stable/configuration/#custom-authorization-function. There is an example as well.

[2018-08-09 14:34] #180 closed

[2018-09-14 19:00] strycore commented on #107
*open the current troubleshooting page in 2018*

*sees nothing related to the Django admin*

*walks away in despair*

[2018-10-10 14:08] hamburgerfritz commented on #107
Yeah strycore ! Same problem here.. what was on that troubleshooting doc ??

[2018-10-10 14:53] hamburgerfritz commented on #107
In fact as andybak says [here](https://github.com/arteria/django-hijack-admin/issues/11) : customizations will want to avoid the unregister/register code and use the mixin on it's own.

Set HIJACK_REGISTER_ADMIN to False and follow the [Custom user admin instructions](https://github.com/arteria/django-hijack-admin#custom-user-admins). Inherit your CustomUserAdmin from HijackUserAdminMixin and add

[2018-10-13 13:14] GamePad64 opened #183 "Change requirement for user_id primary key"
Hello!

I am using a custom user model with a UUID for primary key, and everything works fine, except for django-hijack, because it explicitly casts user_id to int here ( https://github.com/arteria/django-hijack/blob/master/hijack/views.py#L18 ), so any attempt to use "Hijack" button results in a following error:
[code]

Please, consider removing this type cast.

[2018-10-15 22:11] WhyNotHugo opened #185 "Keeping the original user for the django admin"
When my staff users hijack users, they want to view the website as that users, but continue using the admin as themselves.

It it possible to keep the current user for the admin, and only replace the current user for non-admin pages?

[2018-11-23 04:50] iarp commented on #185
Django doesn't do separate authentication between apps (admin is technically just another app). It's site wide.

django-hijack basically logs the current user out, logs in the selected hijack user, and sets a session variable to know which user to return to when you release. To django itself you've basically logged out and then logged in as another user.

Setting appropriate HIJACK_LOGIN_REDIRECT_

[2018-12-14 16:36] ddahan opened #189 "Unexpected display with hijack notification bar"
After Django-hijack setup, using Bootstrap 4, I'm expecting to get this display:

![image](https://user-images.githubusercontent.com/1933516/50014953-9fd55a80-ffc5-11e8-8507-66069e6a43ac.png)

But instead, I get this:

![image](https://user-images.githubusercontent.com/1933516/50015015-c8f5eb00-ffc5-11e8-97ab-dac8aa623648.png)

As you can see, the hijack bar is below the Bootstrap navbar.

- I set

[2019-06-25 21:10] pandichef opened #192 "Problem with UserPassesTestMixin"
I posted this on SO.  Maybe it belongs here instead.

https://stackoverflow.com/questions/56759037/django-hijack-fails-with-userpassestestmixin-starting-in-django-2-1-0

[2019-08-09 12:37] clovis1122 commented on #25
BUMP. Any chances this gets fixed?

[2019-09-09 12:41] NikolaiT commented on #110
Why is there still no clear solution for this?

[2019-10-15 18:36] mberkman-psh opened #193 "Python 3 compatibility for lastets versions"
I saw here https://djangopackages.org/packages/p/django-hijack/
That lastest version that is able to run in python 3 is the 2.1.3 one.
I want to know when newer versions will be released

[2019-11-13 15:36] aureliendebord opened #194 "HIJACK_AUTHORIZATION_CHECK not working"
I have these settings:

[code]

And this is my custom function in order to allow users of a the "Admin" group:
[code]

These custom function is not triggered. Can you update the doc?

[2019-12-12 02:40] kajala opened #195 "dynamic HIJACK_LOGOUT_REDIRECT_URL?"
I would like to redirect back to User details view on admin after hijack ended. What would be best way to achieve this?

Based what I checked the code it doesn't seem possible to override HIJACK_LOGOUT_REDIRECT_URL dynamically without changing code?

I'm using django-hijack==2.1.10

[2019-12-23 14:33] fronbasal opened #196 "Allow for UUID IDs in User"
If the `User` model has a non-integer `id` field, this application throws the error `user_id must be an integer value.`. It should allow for `UUID`-style IDs, too.

[2020-02-10 17:17] GregKaleka opened #199 "django.utils.translation.ugettext_lazy() is deprecated in Django 3.0"
A future version will drop support for `ugettext_lazy()` in favor of `gettext_lazy()`. I don't think this presents any compatibility issues, as `gettext_lazy()` has been around since at least version 1.8, and I believe they're just aliases of one another.

[Deprecation announcement in release notes](https://docs.djangoproject.com/en/3.0/releases/3.0/#id3).

Any other considerations I'm not aware o

[2020-02-10 17:24] GregKaleka commented on #199
Gah sorry - this issue should be on the `hijack_admin` repo, not this one. Apologies!

[2020-02-10 17:24] #199 closed

[2020-03-02 10:04] timgates42 opened #200 "Fix simple typo: specifiv -> specific"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine runtests.py.
2. Search for `specifiv`.

# Expected Behaviour

1. Should read `specific`.

[2020-03-19 18:49] jurrian commented on #193
I am currently running 2.1.10 in python 3.7.3. It seems the python 3 compatibility flag is not accurate.

[2020-03-26 06:43] Kub-AT commented on #183
not only int and uuid. I use random short strings (8 chars)

[2020-03-26 17:02] danihodovic commented on #153
@philippeowagner I'm interested in working on this. Any pointers on what files I should be looking at?

[2020-04-01 16:35] jurrian opened #202 "Docs: conditional install in development only"
I've found a way to install django-hijack in development but not in production:

local.py
[code]

The problem is that the load tag causes trouble when the package is not installed. Unfortunately, load tags cannot be conditional. However, this can be fixed by using an include tag like this:

base.html
[code]

components/hijack_banner.html
[code]

The variable `hijack_installed` can be set by a cont

[2020-04-07 20:07] taewookim opened #203 "URL namespace 'hijack' isn't unique."
Environment:
Database: psql (11.5 (Ubuntu 11.5-0ubuntu0.19.04.1))
Python version: 3.7.3
Django version: 2.2.7

just installed it and getting this warning

`
?: (urls.W005) URL namespace 'hijack' isn't unique. You may not be able to reverse all URLs in this namespace
`

[2020-04-17 14:01] heliodor opened #204 "Change the release button to one compatible with Bootstrap 4"
The `btn-default` style has been removed in Bootstrap 4.

For compatibility, switch to `btn-primary` or `btn-secondary` or add another class that's specific to v4, such as `btn-outline-secondary`.

A quick fix for anyone looking for one in the meanwhile:

[code]

References:
https://getbootstrap.com/docs/3.4/css/#buttons
https://getbootstrap.com/docs/4.0/components/buttons/

[2020-07-01 15:40] aureliendebord commented on #194
This is related to #171

[2020-07-01 15:40] #194 closed

[2020-09-24 09:18] Flimm opened #205 "Can django-hijack easily be disabled?"
I would like to only turn on django-hijack in certain cases, for example, I would like to include something like this in the `settings.py` file:

[code]

Right now, to do something like this, I would have to remove the apps from `INSTALLED_APPS`, remove the URLs from `urls.py`, and remove the template modifications from `base.html`.

[2020-10-05 11:28] pydolan opened #206 "Django 4.0 compatibility (deprecation warnings added in v3.1)"
Since Django v3.1, new deprecation warnings are showing:

[code]

[2020-10-08 01:04] LincolnPuzey opened #207 "Django 2.2 Support"
Tests are not run against Django 2.2.

Has anyone successfully used django-hijack with Django 2.2?

[2020-11-10 09:48] van-ess0 commented on #207
Yes

[2020-12-09 13:31] codingjoe opened #209 "Maintainership"
Hi @philippeowagner,

Let me start by expressing my gratitude towards the hours you and other contributors have sunk into this project.
With that in mind, it would be sad to see this library fade away. Looking that the current state of the repository, it might be time to consider putting this project under new maintainership, to fuel the project with new enthusiasm.

Since you are a @jazzband memb

[2021-01-15 15:40] Mogost commented on #209
The project really lacks care. It is very disappointing to prepare changes and wait for an answer for several years without receiving it...
https://github.com/arteria/django-hijack/pull/197

[2021-01-16 12:10] codingjoe commented on #209
FYI, I just reached out to @philippeowagner via email. I am confident this will yield a response. Let's give a little more time before resorting to a hard fork.

[2021-01-16 13:25] philippeowagner commented on #209
Hi all,

We will find together a solution to get django-hijack forward.

The sources of django-hijack and django-hijack-admin will be moved to https://github.com/django-hijack as soon as possible.

I will call for maintainer once sources have moved.

[2021-01-16 20:27] Mogost commented on #209
Nice to hear that!

[2021-01-21 15:29] utapyngo commented on #209
Any news?

[2021-01-22 00:18] philippeowagner commented on #209
Who'd like to join the party?  You @codingjoe and you @Mogost ?

How are we going to organize this?

Any suggestions and experiences from other projects?

I'm talking about this repo and  django-hijack/django-hijack-admin by the way.

[2021-01-22 08:58] Mogost commented on #209
I am happy to take part.
I think we need automation for deployments and tests, which I did in #197.

May be interesting for @kedlav

[2021-01-22 10:16] codingjoe commented on #209
Hi @philippeowagner, yes I'd be honored to help.

I guess it would be good to set some ground rules, like mandatory reviews and a release process as well as version support.
Those would be my suggestions:

### Releases

I agree with @Mogost to automate this. However, #197 includes to many unrelated changes. I have a very tiny GitHub Action script that enables automated releases on PyPi. I'd be del

[2021-01-22 10:50] Mogost commented on #209
@codingjoe Agree about GH actions. If I made these changes today, it would be done this way.
In #197 I removed `django-compat` dependency, now this dependency hinders rather than helps.

[2021-01-22 11:05] codingjoe commented on #209
@Mogost great. I proposed a GH action here #210
I'd also love to review the changes in #197, but it would be much simpler if you could split your changes across multiple pull requests.

[2021-01-22 11:06] codingjoe commented on #207
Django 2.2 is currently work, yet not officially supported. That being said, version support is discussed as part of #209

[2021-01-22 11:09] codingjoe commented on #209
@philippeowagner I'd also love to do triage on all open issues. There is a lot that simply needs an explanation and could be closed.

Splitting admin support into a separate package seems ambitious. We should test and document support with and without the admin, but I believe it might be more convenient to have this feature be part of this package. Be it only as a contrib and not core behavior.

[2021-01-22 13:18] philippeowagner commented on #209
**Ahoy pirates and welcome aboard!**

Please welcome our new Captains @codingjoe and Quartermaster @Mogost – or vice versa.

I'm happy to hand over the steering wheel, but we (arteria GmbH) will remain on board as owners for the time being.

If any Sailing Master, Gunner, Powder Monkey, .. wants to join the journey, I'm happy to add more crew members with write access to this organization.

Have f

[2021-01-22 13:18] philippeowagner commented on #209
PS: See https://github.com/django-hijack/django-hijack/issues/114 why does django-hijack-admin exist. The version numbers should be keeps in sync due to a .deb package. I think @stylesen asked for it.

PPS: Johannes, please email me in case you need my attention. Thank you!

[2021-01-23 06:59] utapyngo commented on #209
I would like to participate as well.

[2021-01-26 10:20] codingjoe commented on #143
`runtest.py` will be removed in #212
`sdist` tests can be run via `python setup.py test`

[2021-01-26 10:20] #143 closed

[2021-01-30 11:22] codingjoe commented on #209
The more, the merrier! @utapyngo you can get started on triage and review right away or submit patches.

[2021-01-30 11:22] codingjoe commented on #209
I will close this issue now, since we can create new releases.

[2021-01-30 11:22] #209 closed

[2021-01-30 11:24] codingjoe commented on #203
Hi @taewookim,

Thank you for reaching out. You seem to have included the hijack URLs multiple types in your URL config. Please check our applications URL config. I am sure you will find a duplicate line somewhere. You might also have included hijacks URLs in multiple different `urls.py` files.

[2021-01-30 11:24] #203 closed

[2021-01-30 11:33] codingjoe commented on #185
Hi @WhyNotHugo,

Excellent questions. You see, if you hijack a user only for parts of your application, this might open the door for security vulnerabilities. It could also provide you win inaccurate picture of that persons access rights. You see, if you hijack a non-staff users, you simply shouldn't be able to access the admin.

I believe this is something that should be solved in your applicatio

[2021-01-30 11:33] #185 closed

[2021-01-30 11:46] codingjoe commented on #174
Hi @ulternate,

Thanks for reaching out. You are right, this is a problem and I believe it has already been reported in #110 even if the context isn't the same.

I will close this issue, to track the discussion in one place.

Best,
Joe

[2021-01-30 11:46] #174 closed

[2021-01-30 12:40] codingjoe commented on #207
Django 2.2 support has been merged to master and will be included in the next release.

[2021-01-30 12:40] #207 closed

[2021-01-30 17:30] codingjoe commented on #193
Official version support has been updated to all maintained Django versions and their compatible Python versions.

[2021-01-30 17:30] #193 closed

[2021-01-30 17:30] #200 closed

[2021-01-30 17:31] codingjoe commented on #200
The file no longer exists. Thanks again @timgates42

[2021-01-30 17:35] codingjoe commented on #204
You make a good point @heliodor. However, I would prefer to actually remove special case handling for bootstrap. I believe it might be more suitable to follow a similar approach that django-debug-toolbar does, where you have only a small movable element, that doesn't need to integrate or move the whole layout of your site. This should satisfy all the different use cases, without any external depen

[2021-01-30 17:35] #204 closed

[2021-01-30 22:01] #206 closed

[2021-02-01 08:12] Mogost opened #222 "There is no latest release on pypi"
![image](https://user-images.githubusercontent.com/721963/106431480-5c2c5c00-647e-11eb-9710-25082d611a83.png)

https://github.com/django-hijack/django-hijack/releases/tag/2.2.1

[2021-02-01 14:00] codingjoe commented on #222
Yes, I know. I have already reached out to @philippeowagner via email. I will try to resolve the problem with him. Once this is done, I will manually release the missing versions if need be.

[2021-02-02 07:41] codingjoe commented on #222
I manually pushed the last two releases, they are on PyPi now :)

[2021-02-02 10:13] #222 closed

[2021-02-03 11:49] mauromsl opened #223 "hijack 2.2.1 breaks compatibility with django 1.11"
a90a4cd833391f00a7fad6f90e8b0a56652a14fc makes this package no longer compatible with 1.11.
[code]

Are you intending to drop compatibility? It's understandable, since Django 1.11 has no longer been supported for some time.

If so, it might be worth mentioning it on the latest release notes.
We've been using `django-hijack>=2.1.1` for some time with Django 1.11 without any issues for some time.

[2021-02-03 16:22] codingjoe commented on #223
Hi @mauromsl,

Thanks for reaching out.  The release notes of 2.2 do mention that we updated version support to the currently maintained versions Django and Python. Furthermore, you might notice that the Django and Python classifiers are correctly set on the package.

So in a nutshell, 2.1.* was the last version to support Django 1.11. If you'd like to update, might I suggest updating to a newer D

[2021-02-03 16:22] #223 closed

[2021-02-03 16:23] #161 closed

[2021-02-08 12:37] DmytroLitvinov opened #225 "Add changes to CHANGELOG.txt"
There are no changes in [CHANGELOG.txt](https://github.com/django-hijack/django-hijack/blob/master/CHANGELOG.txt) file for versions 2.1.7, 2.1.8, 2.1.9, 2.1.10, 2.2, 2.2.1

[2021-02-08 16:01] codingjoe commented on #225
Hi @DmytroLitvinov,

Thanks for reaching out. I think we don't maintain a separate change log in the future. You will find all change documented in the GitHub releases. This is also supported by dependably and others, thus shouldn't cause too much trouble for most people.

I will remove the file, to avoid the confusion.

Best,
Joe

[2021-02-18 15:49] #225 closed

[2021-02-18 15:50] #183 closed

[2021-02-18 15:50] #196 closed

[2021-02-22 09:44] sondrelg opened #231 "Documentation"
Hi,

First of all thanks for making this package, it looks great 👏

I'm interested in trying it out, but I've had some trouble getting off the ground. Just wanted to share some of my challenges in case it's helpful, or in case *I've* missed something obvious and you can help me.

- My first challenge was dealing with the undocumented `compat` dependency. `django-compat` isn't listed in the setup.p

[2021-02-22 12:11] codingjoe commented on #231
Hi @sondrelg,

Thanks for reaching out. I agree, the documentation does need some work. Especially, since we started to refactor many things. I will make sure we update the entire documentation at the next major release. Besides that, you correctly noticed a Jinja2 Error.

This should be fixed with #228, where we handle the notification rendering separately. I hope you can hold on until then.

Bes

[2021-02-22 13:03] sondrelg commented on #231
That sounds great! I'm looking forward to it 👏

[2021-03-10 11:36] gdvalderrama commented on #225
Link to github releases for others looking for the changelog: https://github.com/django-hijack/django-hijack/releases

[2021-03-14 18:52] Mogost opened #236 "AUTHORS file looks unmaintained"
@codingjoe
I suggest removing it or replacing it with somthing like [that](https://github.com/marketplace/actions/contribute-list).
Replacing is preferable because it is more inclusive.

[2021-03-15 07:26] codingjoe commented on #236
Sure, I don't mind. For all I care you can remove it, or have it include a link to https://github.com/django-hijack/django-hijack/graphs/contributors
IMHO git is perfectly capable to keep track of authorship. I don't need a file telling me… I don't know what it's telling me 😜

[2021-03-15 13:20] #236 closed

[2021-03-20 16:39] #231 closed

[2021-03-20 16:40] #110 closed

[2021-03-20 16:40] #171 closed

[2021-03-20 16:40] #189 closed

[2021-03-20 16:40] #192 closed

[2021-03-20 16:40] #195 closed

[2021-03-20 16:40] #202 closed

[2021-03-20 16:40] #205 closed

[2021-03-20 17:15] Mogost opened #249 "Somthing wrong with Docs"
We have outdated images in docs folder.
https://github.com/django-hijack/django-hijack/blob/3bf59b51e0f3e9ef0fddac9231435a00e696613f/docs/release-button.png

Also I don't understand readthedocs status here
https://github.com/django-hijack/django-hijack/blob/3bf59b51e0f3e9ef0fddac9231435a00e696613f/README.md#L11-L12

[2021-03-20 17:18] Mogost commented on #205
Most likely your request is no longer relevant after the release of version 3.0 (currently in pre-release status). If it is not, please reopen your ticket.

[2021-03-20 17:23] Mogost commented on #189
Most likely your request is no longer relevant after the release of version 3.0 (currently in pre-release status). If it is not, please reopen your ticket.

[2021-03-20 17:24] Mogost commented on #195
Most likely your request is no longer relevant after the release of version 3.0 (currently in pre-release status). If it is not, please reopen your ticket.

[2021-03-20 17:25] Mogost commented on #202
Most likely your request is no longer relevant after the release of version 3.0 (currently in pre-release status). If it is not, please reopen your ticket.

[2021-03-20 17:25] Mogost commented on #171
Most likely your request is no longer relevant after the release of version 3.0 (currently in pre-release status). If it is not, please reopen your ticket.

[2021-03-20 17:25] Mogost commented on #110
Most likely your request is no longer relevant after the release of version 3.0 (currently in pre-release status). If it is not, please reopen your ticket.

[2021-03-20 21:35] Mogost opened #250 "LOGOUT_REDIRECT_URL does't work with named url pattern"
`LOGOUT_REDIRECT_URL` may be a named url pattern. The redirection is incorrect.

![image](https://user-images.githubusercontent.com/721963/111886092-bbb5db00-89dc-11eb-815e-e22e640ee5b5.png)

Django doc: https://docs.djangoproject.com/en/3.1/ref/settings/#logout-redirect-url
Django tests: https://github.com/django/django/blob/76c0b32f826469320c59709d31e2f2126dd7c505/tests/auth_tests/test_views.py#

[2021-03-21 09:49] #250 closed

[2021-03-21 09:51] codingjoe commented on #249
I asked @philippeowagner for access to debug the problem. He did grant access RTD access to this repo. Let's see if that helped. And yes, we should update the graphics.

[2021-03-26 13:37] LincolnPuzey opened #255 "HTML should not be parsed with regex"
The middleware's `process_response` method uses regex to parse the HTML response and inject content.

This is easily broken, leading to the content being injected in the wrong place or not at all.

I will open a PR with unit tests showing this.

See [this](https://stackoverflow.com/questions/1732348/regex-match-open-tags-except-xhtml-self-contained-tags/1732454#1732454) stackoverflow post as to wh

[2021-03-26 16:22] Mogost commented on #255
In fact, you are right.
In principle, I see two options here.

1. Go back to the tags, which force the user to explicitly specify where to insert the hijack code.
2. Use somthing like lxml to parse html. (And this approach has even more problems than the current one. Performance and safety.)

As far as I understand, the current approach was inspired by https://github.com/jazzband/django-debug-tool

[2021-03-26 17:02] tim-schilling commented on #255
This logic predates my involvement with the toolbar. It looks like it was originally a version of `str.replace`, but evolved into a regex to parse it. Avoiding a dependency to inject the content ranks high on my priority list so that removes using an actual parser. Writing a parser is generally out too. The tag approach would be the next tool I'd reach for if this was causing issues for enough peo

[2021-03-26 17:39] Mogost commented on #255
Thank you for your participation @tim-schilling.

Actually, I don't know what we should do in this situation.
On the one hand I really like the simplicity of installation, on the other hand I see no way to solve this issue without using tags.
I don't even think we should consider the parser option.
It's too complicated and won't be worth the simplicity. We also have to pay for this simplicity with

[2021-03-27 10:04] codingjoe commented on #255
Hi @LincolnPuzey,

Thank you for reaching out to us and addressing this. I do agree, this isn't a once size fits all solution and I do see scenarios where this might break. However, as mentioned by @Mogost, we blatantly stole the idea from `django-debug-toolbar`, probably the most popular Django package out there. I guess what applies to both packages, is that this bit of code is barley every exec

[2021-04-03 21:12] YazdanRa opened #260 "Stay at the page after release"
Hi,

I need to stay at the page which I released from.

Is there any way that is implemented before or I have to override the views!?

[2021-04-04 08:12] codingjoe commented on #260
Hi @YazdanRa,

Thanks for reaching out. You make an excellent point. It can be changed,  however, maybe we should consider making this the default behavior. After all, to redirect to the logout page could be counterintuitive, since you are not being logged out, but logged in again as yourself.

What do you think?

Best,
Joee

[2021-04-04 08:40] codingjoe opened #261 "Admin integration creates invalid HTML"
The new admin integration uses a form. Sadly, Django wraps the whole change list table inside a form for the change list form actions. All versions of HTML and XHTML forbid nested forms.

I see two possible solutions.
1. We use a GET request, including the CRSF token.
2. We use the actions of a button in Django's admin. However, that could be counterintuitive, since one could select multiple users

[2021-04-04 09:44] YazdanRa commented on #260
Thank you for your consideration,

**It would be awesome.**
I'm using hijack with Django Rest Framework to develop and test the APIs on behalf of different users.
I think we can even work on integrating with DRF to change the user in a special Mode.
I'm looking forward to contributing to them.

[2021-04-08 02:05] LincolnPuzey commented on #255
Thanks for your thoughts on this everyone.

I didn't know the code was copied straight from debug-toolbar. However that only ever runs locally in DEBUG mode. I find it hard to trust a middleware that is totally re-writing the response HTML body in production.

My proposed solution would be to split the `HijackUserMiddleware`  class into two classes:
* `HijackUserMiddleware` which just implements `

[2021-04-08 12:56] codingjoe commented on #255
Hi @codingjoe,

You are making a valid point. However, we should also consider the security implications. The notification is a vital part, making sure that it is always visible is important, to avoid that users may perform unintended actions.
The template tag required users to add the tag to all templates. Yes, a `base.html` template pattern is common, but will all too often forget to add the not

[2021-05-10 21:16] zubus opened #275 "is this working on django admin?"
I read in the other repository that I should install this package, but I don't know if it is update

[2021-05-11 08:26] codingjoe commented on #275
Hi @zubus,

Yes, the new version (currently in alpha) does have its own admin integration. However, it currently has a bug, see #261.

I'd kindly ask you to hold out, just a little longer until we finally release the new version.

Best,
Joe

[2021-05-14 17:54] kevinmarsh commented on #261
Think that's sensible, a hybrid approach of using the actions framework to piggyback on the POST/CSRF logic but then not exposing it as an action in the drop down. So if hijack button is just something simple like:

[code]

And then in `HijackUserAdminMixin.response_action` you look for "hijack_user" in the POST and redirect the request to `views.AcquireUserView`. So again something like pseudocod

[2021-05-14 20:38] Mogost commented on #261
@codingjoe sorry, I totally forgot about that request. But I like what @kevinmarsh wrote.

[2021-05-22 09:47] codingjoe commented on #261
I agree with @kevinmarsh this seems to be the best approach. It also allows us to get rid of the little hack we used to create the CSRF token. Actually, @kevinmarsh would you be interested in providing a patch? I am very busy right now working on Django features, I'd really appreciate the help especially, since you already dug into this topic.

[2021-05-25 22:23] kevinmarsh commented on #261
I had a quick play around with it and [have a POC](https://github.com/django-hijack/django-hijack/compare/master...kevinmarsh:feature/remove-nested-form-issue-261) which I can try out in a real project later this week (hopefully) and if all looks good then I can flesh out the tests a bit more and create a PR. Can discuss in the PR how much of a breaking change it can/should be (if it makes it into

[2021-05-26 07:34] Mogost commented on #261
@kevinmarsh
I tried your branch in the real world. And it doesn't seem to work. This is what the requests look like. The hijack is not happening.

![image](https://user-images.githubusercontent.com/721963/119619749-f8eb7e80-be0c-11eb-95eb-32490d6672fc.png)
![image](https://user-images.githubusercontent.com/721963/119619807-09035e00-be0d-11eb-886e-983e15ae6e3c.png)

Moreover, in the debug it doesn'

[2021-06-30 10:52] Mogost commented on #261
@codingjoe
I've been thinking. Maybe we could redefine the basic template of the `change_list.html` page. Add necessary forms to the end of the page and add to the button onclick submit action for the desired form.

[2021-07-01 13:30] codingjoe commented on #261
Hi @Mogost, hm… yes we should finish this up. It's the last thing blocking us from a proper release.
Regarding your idea, yes, but it seems risky, Django makes changes to Admin templates without warnings or backwards compatibility. I would probably just add a little JS script that performs the request, completely bypassing the template. It should also reduce the current complexity a little. Give m

[2021-07-03 07:28] #261 closed

[2021-07-03 09:41] Mogost opened #300 "Release non-rc 3.0 version"
It seems we're ready to go.

[2021-07-03 20:09] codingjoe commented on #300
Yes, but the docs don't build yet. I wrote @philippeowagner about this.
I don't think it's wise to do a breaking release with outdated docs. This might cause many new tickets here ;)

That being said, I will create a new RC with the latest changes and wait a couple of days for @philippeowagner's response.

[2021-07-05 08:18] Mogost commented on #300
I think you need to get admin access to readthedocs for this project.
https://readthedocs.org/dashboard/django-hijack/

[2021-07-05 14:44] codingjoe commented on #300
I am working on getting access ;)

[2021-07-05 21:55] Mogost commented on #300
Looks like configurtion is broken https://readthedocs.org/api/v2/build/13303757.txt
We can try to fix this error with configuration file https://docs.readthedocs.io/en/stable/config-file/v2.html#configuration-file-v2

[2021-07-06 07:52] #249 closed

[2021-07-06 07:52] #300 closed

[2021-07-06 07:55] codingjoe commented on #300
Hm… somehow the hooks don't even seem to trigger. I guess there is no way around having access to the config.

[2021-07-27 07:09] dazzaroonie opened #305 "Bootstrap Button does not show with Bootstrap 5"
With Bootstrap 4 and 5 I don't think the `btn-default` is a thing anymore hence the button isn't showing.

I believe the closest it gets is with `btn-outline-secondary`.

<img width="431" alt="Screen Shot 2021-07-27 at 5 08 13 pm" src="https://user-images.githubusercontent.com/2475859/127111107-c60c503b-dacd-4469-918e-0988882563d1.png">

Would be awesome if this could be changed ... or you could t

[2021-07-27 07:42] codingjoe commented on #305
Hi @dazzaroonie,

Thank you for reaching out. However, the latest development version does not require a special bootstrap integration anymore, which should solve your problem.

Best,
Joe

[2021-07-27 07:42] #305 closed

[2021-08-06 11:13] davidkell opened #317 "Communication on 2.0/3.0 difference and admin integration"
Thanks for a fantastic package, the version 3.0 improvements are 💯

For new users, it would be helpful to add a note at the top of the README to explain that 3.0 is a re-write of 2.0, and that django-hijack-admin functionality is bundled in. Just a quick disclaimer would save lots of time, I think.

It's particularly confusing as the read the docs link seems to link to 2.0 documentation, but the d

[2021-08-06 11:33] Mogost commented on #317
The problem is that we do not have access to the RTD to deploy new version of documentation. ping @philippeowagner

You are welcome to create pull request for that.

[2021-08-06 17:40] codingjoe commented on #317
Hi @daviddaskell,

Yes, you are 100% right, and we are very sorry for the confusion. And yes, this is all because we don't have all the necessary permissions to properly maintain this package. I reached out to the owner multiple times unsuccessfully.
At this point, it was more important to finally release this package, as it includes multiple security improvements.

Again we are sorry for the pain

[2021-08-06 22:20] davidkell commented on #317
Damn @codingjoe that is frustrating. No need to apologise, just thought it would be helpful information.

The new implementation is way easier and it's already made a ton of difference for us in debugging customer issues.

@Mogost I've opened a PR #318. Hopefully it is what you are looking for. I can say for sure that this as a user, this kind of information would have helped.

Thanks guys, have a

[2021-08-07 23:39] davidkell commented on #317
Closing now now PR is merged

[2021-08-07 23:39] #317 closed

[2021-08-08 16:00] amir5121 opened #319 "cannot import name 'settings' from 'hijack'"
This happens after upgrading to version 3.0.0
downgrading to `2.3.0` fixes the problem for now

[code]

[2021-08-09 05:32] codingjoe commented on #319
Hi @amir5121,

Thank you for reaching out. Version 3 is a major release and a complete rewrite of hijack. I recommend completely removing your current integration and following the new docs. https://github.com/django-hijack/django-hijack#docs
It sounds a lot, but usually a quick task.

Best,
Joe

[2021-08-09 05:32] #319 closed

[2021-08-17 08:29] fidelleon opened #320 "HIJACK_LOGOUT_REDIRECT_URL not working"
django-hijack v3.0.0
django-hijack-admin v2.1.10

I'm using the Django admin integration app so I can hijack users from the admin interface.

When I release a user, Django reloads the last hijacked page instead of loading what I set in my settings:

[code]

In fact, if I don't set ```HIJACK_LOGOUT_REDIRECT_URL```, the default behavior (loading LOGIN_REDIRECT_URL) doesn't work neither.

[2021-08-17 14:38] Mogost commented on #320
django-hijack v3.0 is completely rewritten and does not require django-hijack-admin. The administrator interface is now included in django-hijack.

Please follow our docs for v3 here https://github.com/django-hijack/django-hijack#docs

Also we use [LOGOUT_REDIRECT_URL](https://docs.djangoproject.com/en/3.2/ref/settings/#logout-redirect-url) to redirect on logout https://github.com/django-hijack/dj

[2021-08-18 06:51] fidelleon commented on #320
OK, thanks, I will remove the now obsolete django-hijack-admin from my project.

I guess the notification template is an "example to be customised", because it seems to default to the last requested page URL instead of LOGIN_REDIRECT_URL:

[code]

and that's the reason it is ignoring my LOGIN_REDIRECT_URL.

Thanks for your answer and an awesome job!

[2021-08-26 17:19] pdbethke opened #321 "What happened to the is_hijacked filter in the 3.0.0 release?"
This filter is extremely useful to tell if a user is currently hijacked. It's referenced in much of the django-hijack documention - yet it seems to have been removed from the template tags (now called "hijack" instead of "hijack_tags"). Am I missing something?

[2021-08-26 19:10] #321 closed, assigned to nobody

[2021-08-30 11:21] jramnai opened #323 "Do there any blockers to bump new release?"
We are looking forward to using `django-hijack` with Django 3.2 on [edX](https://github.com/edx).

Required PR - #322 is already merged into the master branch.
Do there any chance a new version will be bumped soon?

If any blockers with the release I would be happy to help.

Thank you in advance.

[2021-08-30 12:42] Mogost commented on #323
There is no need for that. The last released version is already compatible with 3.2.
All you did in #322 was run the tests on 3.2 (before that they ran on 3.2 beta).
Bumping the version won't change anything in the package.

[2021-08-30 17:04] #323 closed

[2021-08-30 17:36] jmbowman commented on #323
@Mogost Out of genuine interest, what are the main factors causing hesitation to make a new release?  Level of effort involved, belief that software versions should only change when the software's core behavior does, something else?

I understand your reaction (and see it from a lot of package maintainers), but I want to take a moment to point out the value in doing the release anyway (I'll be tou

[2021-08-30 18:01] Mogost commented on #323
@jmbowman In this particular case, the package before these changes and after these changes are identical. Releasing a new version will only give you two exactly the same release. Nothing has changed at all.
Why do you need absolutely two identical releases?

[2021-08-30 18:03] Mogost commented on #323
I could agree that the release would be reasonable if the classifiers change, but the classifiers have not changed.

[2021-08-31 02:01] LincolnPuzey opened #326 "Tests run with wrong Django version"
For example, on the latest (python 3.6, django 3.0) tests run against master branch,

https://github.com/django-hijack/django-hijack/runs/3459457910

If you look in the "Install Django 3.0" section of the output you can see

[code]

its actually installing Django 3.2.6. This is because you are specifying `django~=3.0`.

So the tests aren't actually testing all the django versions they claim they a

[2021-08-31 08:19] Mogost commented on #326
@LincolnPuzey Thank you. Good catch.

[2021-09-01 13:06] msopko81 opened #328 "Custom Proxy User Admin Throws Error"
I have a project that started with the default django auth user. I then had to extend it, but since the project was already started, I did not want to update the `AUTH_USER_MODEL`. I set up a proxy user  model (my setup is actually here: https://stackoverflow.com/a/41683252/6719157) .

In my admin.py, I am unsetting the User model from the site. I then add in my own DomainUserAdmin. This causes `U

[2021-09-02 12:53] jmbowman commented on #323
Right, I meant a release to update the classifiers; I hadn't noticed that the PR that updated the tests didn't do that.

[2021-09-02 13:04] Mogost commented on #323
My point is that a release should change at least something in the built package. If we just ran a test on an additional version and didn't change anything (including the package metadata), then there's no point in doing a release.

[2021-09-08 14:58] codingjoe commented on #328
Hi @msopko81,

Thank you for reaching out. Yes, that does seem to be a bug. One of may, I presume, proxies are not well-supported in the Django world, but we should at least try. Do you happen to have an idea for a solution? If so, feel free to open a pull-request. If not, would you mind providing the full stack trace? This would make our lives much easier.

Best,
Joe

[2021-09-08 17:23] msopko81 commented on #328
I submitted a pull request, but I did not write a test for it, because I do not know how to write a test that would unset the user admin before the hijack admin gets included.

[2021-09-13 10:23] LysanderKie opened #335 "Django-Hijack uses wrong translations in German locale"
We are currently updating from django-hijack 2.3.0 to 3.0.0 and use django-hijack in German locale.
When updating & evaluating we figured out that with dropping the django-hijack-admin as a separate package & including it into the main package, there were bad choices mad for the used German translations for the column header and hijack button in Django admin.
The ones used before in the `django-hi

[2021-09-16 11:20] #335 closed

[2021-09-16 18:08] pembo13 commented on #321
Just a note that `request.user.is_hijacked` is definitely not working for me `3.0.0`. I haven't dug in properly yet to figure out why.

[2021-09-17 10:37] #326 closed

[2021-09-17 13:19] #328 closed

[2021-10-08 12:04] codingjoe commented on #255
Thank you, @timnyborg, for opening up the PR. It doesn't change the regex implementation, though. In lack of a better solution, both for us nor debug toolbar, I will close the issue for. If someone has a new solution, I'd be happy to revisit this topic. Best Joe

[2021-10-08 12:04] #255 closed

[2021-10-08 13:08] ecumike opened #349 "Getting error after install"
I had 2.3 pinned. Trying the new version....
I installed via pip.
All other settings look to be exactly the same as 2.3 (installed apps, URL, template tags, etc) so did nothing else.
Fired up Django and I get this:

File "/......../lib/python3.8/site-packages/hijack_admin/admin.py", line 9, in <module>
    from hijack import settings as hijack_settings
ImportError: cannot import name 'settings' fr

[2021-10-09 16:12] #349 closed

[2021-10-09 19:08] Mogost commented on #349
Also please note that django-hijack-admin is't required anymore.

[2021-10-13 09:50] jgb opened #351 "consider writing a migration howto for v2 to v3"
Hello,

I've been using django-hijack for many years, and it works fine, version 2.
However I've tried multiple times to upgrade to v3.0.4 and I get stuck.
The documentation for v3 is very minimal, and many things that used to exist in v2 have simply disappeared.
It would be very helpful for existing users to guide them, how are they supposed to go from v2 to v3?

A document describing what to do,

[2021-10-18 13:05] MihaitaTudor opened #353 "Use own login method"
Hi.
I'm need to use my on login function, to verify several things before do the Django login.
Is there any way to override or do some login method/verification before the Django login?

[2021-10-18 13:57] #353 closed, assigned to codingjoe

[2021-10-18 14:21] codingjoe commented on #351
Hi @jgb,

Thank you for reaching out. Please execute the late response. I wrote one before, but I was on a train and apparently my Signal wasn't good enough.

Anyhow, since this is a complete rewrite, the best update solution is to remove your old integration and to follow the new setup guide. We removed a lot of the old concepts, but may of them are also not needed for most use cases. Customizati

[2021-11-11 01:03] bezkos opened #363 "Allow Superuser hijack Admin URLs of staff members"
I dont know if it is currently supported or its a new feature but
can django-hijack allow superuser hijack admin urls of staff members?

[2021-11-11 17:25] codingjoe commented on #363
Hi @bezkos,

Thank you for reaching out. However, am I understanding you right: You want to know if a superuser can hijack other superusers or staff members and access Django's admin interface?

I believe there are two answers. Once a user is hijacked, you may use all features of your website, just like that user does. The only difference, that there is a banner telling you that you are browsing a

[2021-11-11 17:25] #363 closed

[2021-11-11 17:40] bezkos commented on #363
Hey @codingjoe,
my question is if a superuser can hijack other staff members and access **their** Django's admin interface?
With current implementation of django-hijack-admin generated links will go straight to their webiste and not to their admin UI.
Thanks in advance

[2021-11-12 11:15] codingjoe commented on #363
Yes, they superusers can hijack staff members and access their admin interface. The default forward can be altered too, you'll find a description in the documentation.

[2021-11-18 06:47] LincolnPuzey opened #367 "TypeError when releasing when LOGIN_REDIRECT_URL is None"
According to the Django docs LOGIN_REDIRECT_URL can be set to None

https://docs.djangoproject.com/en/dev/ref/settings/#logout-redirect-url

When this is the case a TypeError can be raised [here](https://github.com/django-hijack/django-hijack/blob/master/hijack/views.py#L48) in the release view

Because `self.success_url` == `LOGIN_REDIRECT_URL` == `None`

Passing None to `resolve_url` causes a Ty

[2021-11-19 09:38] Mogost commented on #367
`None` is not allowed for `LOGIN_REDIRECT_URL` in django.

[2021-11-19 10:17] LincolnPuzey commented on #367
My bad I got login/logout mixed up when writing the issue. I have edited to be correct. `LOGOUT_REDIRECT_URL` is the setting being used that can be `None`

[2021-11-22 02:58] LincolnPuzey opened #369 "Hijack of an inactive User can't be released"
When using a "standard" django setup with the standard User model and `django.contrib.auth.backends.ModelBackend` as the authentication backend, if you do the following:

1. Have a User with `is_active = False`
2. Hijack this user (`inactive_user`)
3. At this point even though `"_auth_user_id"` will be `inactive_user.id` in your session, `ModelBackend` will not allow inactive users so `request.use

[2021-11-22 08:11] codingjoe commented on #369
Hi @LincolnPuzey,

Thank you for reaching out. Seems like we missed this bug, excellent catch.
It shouldn't be too hard to fix, this check only needs to be implemented in the permission functions and users will be no longer able to hijack inactive users.

I'll create a patch.

Thanks Joe

[2021-11-22 11:11] codingjoe commented on #369
@LincolnPuzey would you care to review #370 to speed up the release process a little?

[2021-11-22 17:09] codingjoe commented on #367
Hi @LincolnPuzey,

Again, welcome and nice you are digging up all those hidden little issues. I am curious, you must have a rather large and well-integrated application running on our humble little framework. That's wonderful!

Regarding the issue at hand. I looked into it, and it seems Django would render a logout screen if the `LOGOUT_REDIRECT_URL` setting is set to `None`.

Tho this behavior co

[2021-11-23 10:40] #369 closed

[2021-11-30 01:38] LincolnPuzey commented on #367
Falling back to `/` seems sensible to me :+1:

[2021-11-30 22:23] jonkiparsky opened #374 "Feature proposal: hijack expiration"
My org is using django-hijack to allow staff to masquerade as users. We've noticed that our staff users sometimes forget to release the hijack when they're done, and there's been a request to automatically release the hijack after a set time has elapsed. Reviewing the documentation, I see no provision for such a feature.

Is this a feature that the django-hijack maintainers would be interested in

[2021-12-01 20:55] dangoldgriff opened #379 "HIJACK_LOGIN_REDIRECT_URL / LOGIN_REDIRECT_URL not working as expected"
hello hello!

I recently upgraded to django-hijack 3.1.3 in a project and the upgrade was rather seamless with the exception of the hijack url - hoping I missed something simple in the set up.  When hijacking a user from the django admin, I am attempting to use '/' as the HIJACK_LOGIN_REDIRECT_URL (and the same value for LOGIN_REDIRECT_URL as backup) value, but instead the hijack is redirecting to

[2021-12-02 16:27] jonkiparsky commented on #260
The simplest thing I can imagine would be to allow `None` as a value for `HIJACK_LOGOUT_REDIRECT_URL`. In this setting is null, hijack would take the current page as its redirect target on logout.

I would probably not want this to be the default behavior - I would prefer requiring the user to configure an explicit choice here. However, if a default is well documented, I don't see that this is a b

[2021-12-02 17:58] #379 closed

[2021-12-03 15:28] codingjoe commented on #374
Hi @jonkiparsky,

Thank you for reaching out. I understand where you and your users are coming from. Sadly, implementing this isn't an easy feed. Expiration is always tricky, but here we have to contemplate various security implications as well. For example, how would we notify the user that the hijack has expired, and they are now surfing as themselves? Currently, this requires deliberate action.

[2021-12-03 15:52] jonkiparsky commented on #374
Sounds fair, thanks for the feedback.

[2022-01-14 11:16] sbaum opened #390 "Select user to be hijacked by username instead of primary key"
Hi, we are missing a feature in v3.x: We need to select the user to be hijacked by username instead of primary key. Currently, one has to provide user_pk, but we would like to provide the username instead. The username will be entered into a simple text input.
We have found a solution by modifying AcquireUserView.dispatch() as follows:
[code]
Our solution will use user_pk if provided. If user_pk i

[2022-01-14 21:19] BBroadbent opened #391 "Customising the django admin button"
Firstly, thank you to the maintainers of this project. It is extremely useful!

Is it possible to use a custom template to render the admin panel button.  I know the old django-hijack-admin had the ability to set `HIJACK_BUTTON_TEMPLATE` in `settings.py` to specify the button template location, however, from what I can see the new `admin.py` is hard coded to

[code]
It would be very helpful to cus

[2022-01-15 17:57] BBroadbent commented on #391
You can just create a custom template at `your_project/templates/hijack/contrib/admin/button.html`

[2022-01-15 17:57] #391 closed

[2022-01-26 18:40] bezkos opened #394 "Catch if user hijacked inside view"
I have a use case to identify if a user is hijacked inside view and especially inside tables.py of django-tables2 so i can do custom column rendering.
For example if user.is_hijacked then render_inside_column_TextA else render_inside_column_TextB
I can do it inside templates with request|is_hijacked filter but i cant find something similar for view/tables.
Is it possible with hijack current API?

[2022-01-26 18:53] Mogost commented on #394
Please check for `request.user.is_hijacked`

[2022-01-26 19:04] bezkos commented on #394
i dont think request.user has **is_hijacked** attribute.

[2022-01-26 19:20] #394 closed

[2022-01-26 19:28] Mogost commented on #394
There is mentioned attribute
https://github.com/django-hijack/django-hijack/blob/99f48c167601f2b6b956002b6e3ff255bf61cf1f/hijack/middleware.py#L18

[2022-01-26 19:36] bezkos commented on #394
Yes i guess it's add to 3.X version.
I use latest 2.X version so there isn't such attribute.
Anyway thanks, I posted my solution for 2.X developers.

[2022-01-31 06:13] nkuttler opened #397 "Usage documentation should have working code"
The form markup provided in the documentation doesn't work [1], working code is in the test project [2] though when modified.

[1] https://django-hijack.readthedocs.io/en/stable/#usage
[2]: https://github.com/django-hijack/django-hijack/blob/master/hijack/tests/test_app/templates/user_list.html

[2022-01-31 06:27] nkuttler commented on #397
Speaking of, the "Generic template filter" also seems incorrect as there is an middleware that needs to be loaded to get a similar functionality through `request.user.is_hijacked`.

[2022-01-31 08:12] Mogost commented on #397
https://github.com/django-hijack/django-hijack#docs

[2022-01-31 08:56] nkuttler commented on #397
Oh, that's surprising! I was wondering why there is no version choice on readthedocs, is that intentional?

[2022-01-31 09:44] Mogost commented on #397
In fact, we got access from @philippeowagner to manage this project. But we still don't have access to this service to host new docs. So there's nothing we can do about it.

[2022-01-31 11:06] codingjoe commented on #397
I tried reaching out to him again via email. I am afraid that's the best I can do 🤷

[2022-01-31 16:52] codingjoe commented on #397
I am thrilled to report that I successfully build a new docs version on RTD 🎉

[2022-01-31 16:52] #397 closed

[2022-02-25 07:52] gdvalderrama opened #410 "FOR UPDATE cannot be applied to the nullable side of an outer join"
I'm updating a project from Django 2.2 to 3.2, as part of this change we're upgrading hijack from 2.3.0 to 3.1.6.
Since hijack 3 is a completely new implementation I've removed everything, and then followed the simple guide in the docs.

However when I try to hijack a user I get the following error:

`NotSupportedError at /hijack/acquire/`
`FOR UPDATE cannot be applied to the nullable side of an o

[2022-02-25 09:27] codingjoe commented on #410
Hi @gdvalderrama,

Thank you for reaching out. Version 3 is a complete rewrite of the package and with a strong focus on security. We use the DB lock to prevent race conditions in which a user could lose the hijack history. We don't actually write to the user table, but it's the only lock that is readily available in Django. Of course, you can overwrite the view and remove the lock. However, I mus

[2022-02-25 09:27] #410 closed

[2022-03-08 10:41] barsch opened #422 "UserWarning: User is not registered in the default admin. Please integrate hijack into your user admin manually."
I integrated django-hijack which works well for me - however every time the server starts up or a script is launched I get this warning in the logs

[code]

Any way to suppress this?

[2022-03-10 10:33] seppevectera opened #423 "hijack.min.css in pip package is invalid"
The hijack.min.css file that is included in the pip package is invalid. It appears to be simply the source scss file with whitespace removed. For example: the first statement is

[code]

which is not valid css.

This is a regression, and was introduced by commit 561be87a14f158971773fa9d3d826be2325bb3d3. As far as I can tell, nothing changed in the buildchain, but prior to that commit, hijack.scss

[2022-03-11 15:49] codingjoe commented on #423
Hi @seppevectera,

Thanks for reaching out. I am currently very busy, and might need a week or two, to fix this. If you want' you can have a crack at this. We simply call `npm run build` during packaging. You can use the same command separately to recreate and fix the behavior. I'd love to see a PR for this.

Best!
Joe

[2022-03-11 16:08] codingjoe commented on #422
Hi @barsch,

Thanks for reaching out. The trick is rather simple. Just don't include `hijack.contrib.admin` in your `INSTALLED_APPS` setting.

Best Joe!

[2022-03-11 16:08] #422 closed

[2022-03-12 06:27] seppevectera commented on #423
Hi,

I think you have a decision to make, that I can't make for you. In 561be87a14f158971773fa9d3d826be2325bb3d3, you edited `hijack.scss` as if it were an actual `scss` file (which is understandable, given the file extension :-) ). But your build chain doesn't actually contain a scss preprocessor, only postcss with postcss-nested, which gives you the scss ampersand syntax, but nothing else.

So I

[2022-03-14 09:14] codingjoe commented on #422
@barsch good idea, either there or we improve the warning. Maybe you'd be interested in providing a patch?

[2022-03-14 15:08] seppevectera commented on #423
Hi,

On second thought, adding sass to the build chain is still a change with relatively big consequences, since we need to add a task runner to be able to chain sass and postcss.

I've gone ahead and created two PRs

* Minimal changes: add the postcss-advanced-variables plugin to be able to use variables in the scss files. (This still doesn't other sass features like mixins, extends,...) https://

[2022-05-03 16:14] helgihg opened #442 "Reliance on package `django-compat` breaks on Django 4"
The package [`django-compat`](https://github.com/arteria/django-compat) breaks in Django 4, as it can no longer find `django.conf.urls.defaults` in Django. As a result, so does `django-hijack`.

Unfortunately, `django-compat` has not been updated since December 4, 2017 and seems unmaintained.

Presumably whatever code is being used from `django-compat` should be incorporated into `django-hijack` s

[2022-05-03 16:25] #442 closed

[2022-05-14 16:23] avianion opened #443 "Possible to modify user object only while hijacked?"
For example, say you want to do research on why a customer cancelled.

Is it possible to set cancelled=False only while hijacked, so you can look at their account

Then once it's released, cancelled=True (so the users account hasn't been modified)

[2022-06-07 07:28] amureki opened #455 "KeyError: 'CSRF_COOKIE'"
Greetings!

We have a pretty standard django-hijack setup and most of the times it just works.
However, we are noticing in Sentry a flaky hijjack issue:

[code]

So, the library is trying to access CSRF cookie from `request.META`, but it is not available in the given `<WSGIRequest: GET '/'>` instance.

`hijack.middleware.HijackUserMiddleware` is placed after the CSRF one:

[code]

Sadly, I am stil

[2022-06-08 17:18] codingjoe commented on #455
Thanks @amureki. I think I did produce this error once, but I'd need some time to figure out how.

If you have an idea for a patch, shoot. However, I'd be interesting to know why there isn't a CSRF token.

[2022-07-08 14:14] garybutton commented on #455
@amureki - also facing this, did you manage to crack the issue?

[2022-11-10 13:45] gdvalderrama opened #504 "Context processor data not available in notification"
The notification is [rendered without any context](https://github.com/django-hijack/django-hijack/blob/ae1d9969346d885570276c3ba1ac307085ac1ed6/hijack/middleware.py#L45), so the context I'm expecting from my context processors doesn't show.

Could the render be changed to use a context?
Just by doing this, I believe the context processors should add their data.

[2022-11-11 16:19] gdvalderrama commented on #504
Hey @codingjoe thank _you_!

Yep, that's exactly it.

The PR looks good, I'll give it a try and reply there 💪🏻

[2022-11-14 07:52] #504 closed